{% macro header(text, level=1, class='') %}
    {% if level == 1 %}
        <h1 class="page-heading {{ class }}">{{ text }}</h1>
    {% elif level == 2 %}
        <h2 class="section-heading {{ class }}">{{ text }}</h2>
    {% elif level == 3 %}
        <h3 class="card-heading {{ class }}">{{ text }}</h3>
    {% elif level == 4 %}
        <h4 class="sub-heading {{ class }}">{{ text }}</h4>
    {% elif level == 5 %}
        <h5 class="generic-heading {{ class }}">{{ text }}</h5>
    {% elif level == 6 %}
        <h6 class="generic-heading {{ class }}">{{ text }}</h6>
    {% else %}
        <h6 class="generic-heading {{ class }}">{{ text }}</h6>
    {% endif %}
{% endmacro %}