{% macro header(active_identity, identities=None) %}
{% from 'components/_buttons.html' import button %}
{% from 'components/_cards.html' import identity_card %}
<header>
    <div id="identity">
        {% call identity_card(active_identity, id="curr-identity") %}
            {{ button(icon_name="arrow_drop_down", class="btn--icon-only", variant="ghost", id="toggle-identities") }}
        {% endcall %}
        <div id="select-identity">
            <div id="identity-list-header">
                <span>Select Identity</span>
                {{ button(icon_name="cancel", class="btn--cancel btn--icon-only mobile-only", variant="ghost", id="close-identities") }}
            </div>
            <ul id="identity-list">
                {% for identity in identities %}
                    {% if not identity.is_active %}
                        {% call identity_card(identity, tag="li", class="select-identity") %}{% endcall %}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <nav id="header-nav">
        <ul id="header-nav-list">
            {% from 'components/_buttons.html' import button %}
            <li>
                {{ button(text="Home", variant="ghost", icon_name="home", class="btn--nav", href=url_for('app.home')) }}
            </li>
            <li>
                {{ button(text="Projects", variant="ghost", icon_name="workspaces", class="btn--nav", href=url_for('app.projects')) }}
            </li>
            <li class="collapseable">
                {{ button(text="Tasks", variant="ghost", icon_name="task_alt", class="btn--nav collapseable", href=url_for('app.tasks')) }}
            </li>
            <li class="collapseable">
                {{ button(text="Settings", variant="ghost", icon_name="settings", class="btn--nav collapseable", href=url_for('settings.personal')) }}
            </li>
            <li id="mobile-menu" class="expandable mobile-only">
                {{ button(text="", variant="ghost", icon_name="more_horiz", class="btn--nav expandable mobile-only", id="show-mobile-options") }}
                <ul id="mobile-nav-group">
                    <li>
                        {{ button(text="Tasks", variant="ghost", icon_name="task_alt", class="btn--nav mobile-only") }}
                    </li>
                    <li>
                        {{ button(text="Settings", variant="ghost", icon_name="settings", class="btn--nav mobile-only", href=url_for('settings.personal')) }}
                    </li>
                    <li>
                        {{ button(text="Other", variant="ghost", icon_name="unfold_more", class="btn--nav mobile-only", id="open-footer") }}
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
{% endmacro %}