{% extends 'pages/auth/base.html' %}

{% block substyles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='pages/auth/styles/register.css') }}">
{% endblock %}

{% block content %}
{% from 'components/_layout.html' import grid_col %}
{% from 'components/_headers.html' import header %}
{% call grid_col(md_span='8', lg_span='12') %}
<div class="time-container">
    {{ header(level=5, text="Register", class="text-shadow") }}
    <h1 class="time-display"><span class="hour">22</span>:<span class="minute">03</span></h1>
</div>

<div class="form-container">
    <form id="register-form" action="{{ url_for('auth.register') }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        {% from 'components/_inputs.html' import input %}
        {% from 'components/_buttons.html' import icon_btn, icon_link %}
        <div class="form-grouping" id="personal-information">
            <div class="inputs-grouping">
                {{ input(type="text", placeholder="First Name", required=True, name="first-name", label="First Name") }}
                {{ input(type="text", placeholder="Last Name", required=True, name="surname", label="Last Name") }}
            </div>
        </div>

        <div class="form-grouping" id="birth-date">
            {{ input(type="date", placeholder="Date of Birth", required=True, name="dob", label="Birth Date") }}
        </div>

        <div class="form-grouping" id="log-in-information">
            <div class="inputs-grouping">
                {{ input(type="email", placeholder="Email", required=True, name="email", label="Email Address") }}
                {{ input(type="password", placeholder="Password", required=True, name="password", label="Password")}}
            </div>
        </div>
        <div class="form-controls">
            {{ icon_link(href=url_for('auth.sign_in'), icon='login', variant="secondary") }}
            {{ icon_btn(type="submit", icon='person_add', variant="primary") }}
        </div>
    </form>
</div>
{% endcall %}
{% endblock %}