{% extends 'pages/auth/base.html' %} {% block substyles %}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='pages/auth/styles/register.css') }}"
/>
{% endblock %} 

{% block form_header %}Register{% endblock %}

{% block form_section %}
    <div class="form-input-group">
        <label class="form-label" for="first-name">First Name</label>
        <input type="text" class="form-input" placeholder="John" required>
        <span class="error-msg">{% block first_name_error %}{% endblock %}</span>
    </div>
    <div class="form-input-group">
        <label class="form-label" for="last-name">Last Name</label>
        <input type="password" class="form-input" placeholder="Doe" required>
        <span class="error-msg">{% block surname_error %}{% endblock %}</span>
    </div>
    <div class="form-input-group">
        <label class="form-label" for="dob">Date of Birth</label>
        <input type="date" class="form-input" placeholder="dd/mm/yyyy" required>
        <span class="error-msg">{% block dob_error %}{% endblock %}</span>
    </div>
    <div class="form-input-group">
        <label class="form-label" for="email">Email</label>
        <input type="email" class="form-input" placeholder="example@example.com" required>
        <span class="error-msg">{% block email_error %}{% endblock %}</span>
    </div>
    <div class="form-input-group">
        <label class="form-label" for="password">Password</label>
        <input type="password" class="form-input" placeholder="********" required>
        <span class="error-msg">{% block password_error %}{% endblock %}</span>
    </div>
{% endblock %}

{% block form_action %}{{ url_for('auth.register') }}{% endblock %}

{% block form_footer %}
    <button type="submit" class="btn btn--primary">Register</button>
    <a href="{{ url_for('auth.sign_in') }}" class="btn btn--tertiary">Log In</a>
{% endblock %}