#dashboard {
    grid-template-rows: 1fr auto;
    grid-template-areas: "content content content content" "aside aside aside aside";
}

#dashboard > aside {
    grid-area: aside;
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "header nav";
    margin-bottom: var(--sp-lg);
    z-index: 100;
    background-color: var(--clr-neutral-2);
    border-top-right-radius: var(--brd-r-lg);
    border-top-left-radius: var(--brd-r-lg);
}

#dashboard > section {
    grid-area: content;
}

@media (min-width: 425px) {
    #dashboard {
        grid-template-rows: 1fr;
        grid-template-areas: "aside aside content content content content content content";
    }

    #dashboard > aside {
        display: grid;
        position: relative;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: "header" "footer";
        background-color: var(--clr-transparent);
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }
}

@media (min-width: 1024px) {
    #dashboard {
        grid-template-areas: "aside aside aside content content content content content content content content content";
    }

    #dashboard > aside {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "header" "footer";
        overflow: hidden;
    }

    #dashboard > section {
    }
}
