#dashboard {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 0;
    background: 
        radial-gradient(ellipse at top left, var(--clr-acc-base), transparent),
        radial-gradient(ellipse at top right, var(--clr-acc-base-2), transparent),
        radial-gradient(ellipse at bottom left, var(--clr-acc-alt-2), transparent),
        radial-gradient(ellipse at bottom right, var(--clr-acc-alt), transparent)
    ;
}

header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    padding: var(--pad-xs);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.identity-container {
    position: relative;
    display: flex;
    gap: var(--gap-xs);
    align-items: center;
}

.curr-identity {
    display: flex;
    align-items: center;
    gap: var(--gap-base);
    border-radius: var(--brd-r-full);
    background-color: var(--clr-bg-base-1);
    box-shadow: var(--shadow-input-l);
    padding: var(--pad-xs) var(--pad-sm);
}

.identity-img {
    flex: 0 0 max(var(--fs-xl), 40px);
    border-radius: var(--brd-r-full);
    overflow: hidden;
}

.identity-name {
    flex: 1;
    display: flex;
    align-items: center;
    gap: var(--gap-base);
}

.identity-name-field {
    flex: 1;
    display: none;
    font-size: var(--fs-md);
}

.identity-name-field.active {
    display: inline;
}

.identity-name .btn-icon {
    flex: 0 0 fit-content;
}

.identity-name .btn-icon .icon {
    font-size: var(--fs-lg);
}

.dropdown-container {
    flex: 0 0 fit-content;
}

nav {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    background-color: var(--clr-bg-base-2-40);
    backdrop-filter: blur(12px);
    display: flex;
    justify-content: space-evenly;
    padding: var(--pad-xs);
}

nav .icon {
    font-size: var(--fs-xl);
    font-variation-settings: "FILL" 1;
    background-color: var(--clr-bg-base-1);
    padding: var(--pad-md);
    border-radius: var(--brd-r-full);
    margin-bottom: var(--sp-xs);
    background-color: var(--clr-bg-base-1-60);
    box-shadow: var(--shadow-input-m);
}

#content-container {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    border-top-right-radius: var(--brd-r-lg);
    border-top-left-radius: var(--brd-r-lg);
    display: grid;
    grid-template-rows: 1fr 20%;
    overflow: hidden;
}

#content {
    background-color: var(--clr-bg-base);
}

#content-controls {
    grid-row: 2 / 3;
    background-color: var(--clr-bg-base-1-60);
    box-shadow: var(--shadow-input-m);
    backdrop-filter: blur(12px);
    padding: var(--pad-sm);
}

.identities-container {
    display: none;
}

@media (min-width: 768px) {
    #dashboard {
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr;
        padding-right: 4px;
        padding-bottom: 4px;
    }

    header {
        grid-column: 2 / -1;
        grid-row: 1 / 2;
    }

    nav {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        background-color: var(--clr-transparent);
        flex-direction: column;
        justify-content: flex-start;
        gap: var(--gap-lg);
    }

    #content-container {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        border-radius: var(--brd-r-lg);
        overflow: hidden;
    }

    nav .icon {
        font-size: var(--fs-lg);
        background-color: var(--clr-bg-base-1-40);
        padding: var(--pad-sm);
        margin-bottom: 0;
    }

    .identity-name .btn-icon .icon {
        font-size: var(--fs-base);
    }
}

@media (min-width: 1024px) {
    nav {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        background-color: var(--clr-transparent);
        flex-direction: column;
        justify-content: flex-start;
        gap: var(--gap-md);
    }

    nav .icon {
        font-size: var(--fs-sm);
        background-color: var(--clr-bg-base-1-60);
        padding: var(--pad-sm);
        margin-bottom: 0;
    }

    #content-container {
        grid-template-columns: 20% 1fr;
        grid-template-rows: auto;
        border-radius: var(--brd-r-lg);
        overflow: hidden;
    }

    #content-controls {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    #content {
        grid: 1 / 2;
    }

    .identity-name .btn-icon .icon {
        font-size: var(--fs-sm);
    }

    .identity-name {
        flex: 1;
        display: flex;
        align-items: center;
        gap: var(--gap-base);
    }

    .identity-name-field {
        flex: 1;
        display: none;
        font-size: var(--fs-sm);
    }
}