#content {
    padding: var(--section-padding);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr 1fr;
    grid-template-areas: "header" "profile" "identities" "theme";
}

#page_title {
    grid-area: header;
    padding: var(--pad-sm);
}

#profile-settings {
    grid-area: profile;
}

#identity-settings {
    grid-area: identities;
}

#theme-settings {
    grid-area: theme;
}

.settings-section {
    
}