.form-wrapper {
    display: grid;
    grid-template-rows: auto auto;
    overflow: hidden;
    gap: var(--sp-base);
}

.form-wrapper .form-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-wrapper .form-controller {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid var(--trans-default), opacity var(--trans-default);
    opacity: 0;
}

.form-wrapper.expanded .form-controller {
    grid-template-rows: 1fr;
    opacity: 1;
}

.form-wrapper .form-controller .form-container {
    overflow: hidden;
    padding: 0;
    border: 0;
}

.form-wrapper.expanded .form-controller .form-container {
    padding: var(--form-padding);
}

.form-wrapper.expanded .form-header-container .btn {
    transition: transform var(--trans-default);
    transform: rotate(180deg);
}