#settings {
    grid-template-areas: "content content content content";
    grid-template-rows: 1fr;
    position: relative;
    height: 100%;
}

.grid-col {
    display: grid;
    padding: var(--section-padding);
}

#settings-index {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    grid-template-rows: auto 1fr;
    gap: var(--sp-base);
    transform: translateX(-100%);
    z-index: 100;
    background-color: var(--clr-neutral-2);
}

.nav-list {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: 1fr;
}

.nav-list li {
    margin-block: var(--sp-lg);
}

#settings-index.shown {
    transform: translateX(0%);
}

#content-container {
    grid-area: content;

    display: grid;
    grid-template-rows: auto 1fr;
    gap: var(--sp-lg);
}

#forms {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: auto;
    gap: var(--sp-lg);
    padding: var(--section-padding);
}

#settings-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--sp-2xl);
}

.tablet-only {
    display: none;
}

@media (min-width: 425px) {
    #settings {
        grid-template-areas: "content content content content content content content content";
        position: relative;
    }

    #settings-index {
        max-width: 500px;
        grid-template-rows: auto 1fr;
        gap: var(--sp-base);
        width: 80%
    }

    .tablet-only {
        display: block;
        position: absolute;
        inset: 0;
        z-index: 50;
        background-color: var(--clr-neutral-1-40);
        backdrop-filter: blur(8px);
    }
}

@media (min-width: 1024px) {
    #settings {
        grid-template-areas: "header header header content content content content content content content content content";
        position: relative;
    }

    .mobile-only {
        display: none;
    }

    #settings-index {
        grid-area: header;
        position: static;
        grid-template-rows: auto 1fr;
        gap: var(--sp-base);
        transform: translateX(0%);
        width: 100%;
    }

    .tablet-only {
        display: none;
    }
}