#forms .form-container {
    background-color: inherit;
    box-shadow: none;
    padding: 0;
}

#identities-list {
    display: grid;
    grid-template-columns: auto;
    place-content: center;
    gap: var(--sp-lg);
}

.identity-card {
    width: max-content;
    padding: var(--pad-md);
    flex: 1;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    place-items: center;
    background-color: var(--clr-neutral-2);
    gap: var(--sp-base);
    box-shadow: var(--shadow-md);
    border-radius: var(--brd-r-md);
    position: relative;
}

.identity-input-container {
    display: flex;
    gap: var(--sp-sm);
    align-items: center;
    margin-bottom: var(--sp-base);
}

.identity-input {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

.identity-img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--brd-r-full);
    padding: var(--pad-base);
}

.identity-img img {
    max-width: 150px;
    border-radius: inherit;
}

.edited {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: var(--sp-base);
    right: var(--sp-base);
}

@media (min-width: 425px) {
    #identities-list {
        grid-template-columns: auto auto;
    }
}

@media (min-width: 1024px) {
        #identities-list {
        grid-template-columns: auto auto auto;
    }
}