#settings {
    justify-content: center;
    align-content: center;
    min-height: 100dvh;
    align-items: center;
}

#content {
    width: 100%;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    justify-content: space-evenly;
    padding: var(--pad-base);
    gap: var(--sp-lg);
    overflow: auto;
    scrollbar-width: thin;
}

.primary-settings {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    gap: var(--sp-lg);
}

.secondary-settings {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: var(--brd-md);
    border-color: var(--clr-neutral-2);
    border-radius: var(--brd-r-lg);
    padding: var(--pad-sm);
    box-shadow: var(--shadow-md);
}

#preferences {
    display: flex;
    gap: var(--sp-lg);
    align-items: center;
}

.settings-container {
    width: 100%;

    display: grid;
    grid-template-rows: auto 1fr;
    align-items: center;
    justify-items: center;
    position: relative;
    gap: var(--sp-base);
    height: 100%;
    border: var(--brd-md);
    border-color: var(--clr-neutral-2);
    border-radius: var(--brd-r-lg);
    padding: var(--pad-sm);
    box-shadow: var(--shadow-md);
}

.settings-container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--sp-base);
    width: 100%;
}

.settings-options-container {
    width: 100%;
    display: grid;
    grid-auto-flow: auto;
    justify-items: space-between;
    align-items: center;
    gap: var(--sp-base);
}

.setting-value-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: var(--sp-base);
}

.setting-label {
    flex: 0 0 33%;
    color: var(--clr-text-3);
    font-weight: var(--fw-h3);
    padding: var(--pad-sm);
    display: flex;
    justify-content: center;
    font-size: var(--fs-sm);
}

.setting-value {
    font-size: var(--fs-sm);
    flex: 1;
    font-weight: var(--fw-label);
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: var(--clr-neutral-3);
    padding: var(--pad-sm);
    border-radius: var(--brd-r-md);
}

.theme-value {
    justify-content: center;
    align-items: center;
}

.setting-button-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#edit-personal-settings {
    border: var(--brd-sm);
    border-color: var(--clr-neutral-3);
}

#account .setting-value-container {
    flex-direction: column;
}

#preferences .setting-value-container .btn .btn__text {
    display: flex;
}

#preferences .settings-options-container {
    height: 100%;
    justify-content: start;
    align-content: start;
}

@media (min-width: 425px) {
    .settings-container {
        gap: var(--sp-lg);
    }

    .settings-options-container {
        gap: var(--sp-md);
    }
}

@media (min-width: 1024px) {
    #content {
        gap: var(--sp-base);
    }
    .settings-container {
        gap: var(--sp-md);
    }

    .settings-options-container {
        gap: var(--sp-base);
    }
}