.settings-controls-container {
    display: grid;
    grid-template-rows: auto 1fr;
    padding: var(--section-padding);
    gap: var(--sp-xl);
    position: relative;
}

.other-settings {
    display: flex;
    justify-content: space-between;
    position: relative;
}