html {
    max-height: 100svh;
    overflow: hidden;
}

.grid-col {
    display: grid;
    grid-template-rows: 1fr auto 1fr auto;
    grid-template-areas: "." "img" "." "form";
    padding: var(--section-padding);
    align-items: center;
    justify-content: center;
    gap: var(--section-spacing);
    grid-column: 1 / 5;
}

.hero {
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    grid-area: img;
}

.hero .img-container {
    display: grid;
    place-content: center;
    overflow: hidden;
    width: min(200px, 100%);
    border-radius: var(--brd-r-full);
    box-shadow: var(--shadow-md);
}

.form-container {
    grid-area: form;
}

@media (min-width: 425px) {
    .grid-col {
        grid-column: 2 / 8;
    }
}

@media (min-width: 1024px) {
    .grid-col {
        grid-column: 4 / 10;
    }
}