.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 0 0 fit-content;
}

.img {
    width: 100px;
    overflow: hidden;
    border-radius: var(--brd-r-full);
}

#sign-in-form {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    gap: var(--gap-xl);
}

#password {
    display: flex;
    align-items: center;
    gap: var(--gap-base);
}

@media (min-width: 1024px) {
    #sign-in-form {
        gap: var(--gap-md);
    }
}

@media (min-width: 1024px) {
    #sign-in-form {
        gap: var(--gap-base);
    }
}