button {
    border: 0;
}

.btn-container {
    width: 100%;
    height: 100%;
    font-size: var(--fs-2xl);
}

.btn-container .btn-primary .no-icon {
    padding: var(--pad-sm) var(--pad-xs);
}

.btn-primary {
    display: inline-flex;
    align-items: center;
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    cursor: pointer;
    font-weight: var(--fw-bold);
}

.btn-primary .btn-text-container {
    flex: 4;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: var(--clr-acc-base);
    border-radius: var(--brd-r-full);
    height: 100%;
    box-shadow: var(--shadow-input-m);
    font-size: inherit;
}

.btn-primary .btn-icon-container {
    flex: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-bg-base-2);
    color: var(--clr-acc-base);
    box-shadow: var(--shadow-button-s);
    aspect-ratio: 1;
    font-size: inherit;
    overflow: hidden;
    border-radius: var(--brd-r-full);
    transition: flex 300ms ease;
}

.btn-container:hover .btn-primary {
    gap: var(--gap-base);
}

.btn-icon-container .btn-primary .btn-icon {
    font-size: inherit;
}

.btn-container:hover .btn-primary .btn-icon-container {
    flex: 1;
}

.btn-secondary:not(.btn-icon) {
    display: inline-block;
    background-color: var(--clr-acc-alt-40);
    padding: var(--pad-xs) var(--pad-sm);
    border-radius: var(--brd-r-full);
    transition: filter 300ms ease;
    box-shadow: var(--shadow-button-s);
    width: 100%;
    text-align: center;
    font-weight: var(--fw-bold);
}

.btn-secondary:hover {
    filter: saturate(150%);
}

.btn-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-icon:hover {
    cursor: pointer;
}

.btn-icon.btn-secondary {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-icon.btn-secondary .icon-wrapper {
    border: var(--brd-acc-alt-sm);
    color: var(--clr-text-alt);
    background-color: var(--clr-bg-alt-60);
}

.icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-acc-base);
    border-radius: var(--brd-r-full);
    padding: var(--pad-md);
    box-shadow: var(--shadow-input-m);
}

.btn-icon.btn-standard {
    background-color: var(--clr-transparent);
    border-radius: var(--brd-r-full);
}

.btn-icon.btn-standard .icon-wrapper {
    background-color: var(--clr-transparent);
    box-shadow: none;
    padding: 0;
}

.icon {
    padding: var(--pad-xs);
    border-radius: var(--brd-r-full);
}

.btn-icon.btn-standard:hover .icon {
    background-color: var(--clr-bg-base-2);
}

@media (min-width: 768px) {
    .btn-container {
        font-size: var(--fs-md);
    }

    .icon-wrapper {
        padding: var(--pad-md);
    }
}

@media (min-width: 1024px) {
    .btn-container {
        font-size: var(--fs-base);
    }

    .icon-wrapper {
        padding: var(--pad-sm);
    }
}