.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    gap: var(--button-group-spacing);
    border-radius: var(--brd-r-btn);
    border: var(--brd-btn);
    min-height: 44px;
    box-shadow: var(--shadow-button);
    padding: var(--button-padding);

    font-size: var(--fs-button);
    font-weight: var(--fw-button);
    line-height: var(--lh-button);
    white-space: nowrap;
    text-decoration: none;

    cursor: pointer;
    user-select: none;
    transition: var(--trans-all-common);
}

.btn:hover,
.btn:focus-visible {
    box-shadow: var(--shadow-button-hover);
}

.btn__icon {
    flex-shrink: 0;
}

.btn__text {
    display: none;
}

.btn--primary {
    background-color: var(--clr-primary-1);
    color: var(--clr-text-on-primary);
    border-color: var(--clr-primary-1);
}

.btn--primary:hover,
.btn--primary:focus-visible {
    background-color: var(--clr-primary-2);
    border-color: var(--clr-primary-3);
}

.btn--secondary {
    background-color: var(--clr-neutral-2);
    color: var(--clr-text-1);
    border-color: var(--clr-neutral-2);
}

.btn--secondary:hover,
.btn--secondary:focus-visible {
    background-color: var(--clr-neutral-3);
}

.btn--tertiary {
    background-color: var(--clr-neutral-1);
    color: var(--clr-text-2);
    border-color: var(--clr-neutral-2);
}

.btn--tertiary:hover,
.btn--tertiary:focus-visible {
    background-color: var(--clr-neutral-3);
}

.btn--ghost {
    background-color: var(--clr-transparent);
    color: var(--clr-primary-1);
    border-color: var(--clr-transparent);
}

.btn--ghost:hover,
.btn--ghost:focus-visible {
    background-color: var(--clr-primary-1-20);
}

@media (min-width: 768px) {
    .btn__text {
        display: inline;
    }
}