.card {
    border-radius: var(--brd-r-card);
    border: var(--brd-sm);
    box-shadow: var(--shadow-md);
    padding: var(--card-padding);
}

.card.card--identity-card {
    display: flex;
    align-items: center;
    border-radius: var(--brd-r-full);
    gap: var(--card-inline-spacing);
    padding: var(--pad-2xs);
    background-color: var(--clr-neutral-3);
    border-color: var(--clr-neutral-2);
}

.card__img.identity-img {
    max-width: 50px;
    border-radius: inherit;
    overflow: hidden;
}

.card.card--identity-card > :not(.card__text.identity-name) {
    flex-grow: 0;
}

.card__text.identity-name {
    flex: 1;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    font-size: var(--fs-xs);
}