@keyframes disappear {
    from {
        opacity: 1;
        pointer-events: all;
        transform: translateX(-50%) scale(1);
    } to {
        opacity: 0;
        pointer-events: none;
        transform:  translateX(-50%) scale(0);
    }
}

.flash-messages {
    width: 80svw;
    border-radius: var(--brd-r-lg);
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    justify-items: center;
    align-items: center;
    position: absolute;
    top: var(--sp-lg);
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    animation: disappear 300ms 2000ms ease-in-out forwards;
}

.alert {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: inherit;
    padding: var(--card-padding);
    box-shadow: var(--shadow-inner);
    font-size: var(--fs-base);
    border: var(--brd-md);
}

.alert-error {
    background-color: var(--clr-danger-1-60);
    border-color: var(--clr-danger-2);
    color: var(--clr-danger-3);
}

.alert-success {
    background-color: var(--clr-success-1-60);
    border-color: var(--clr-success-2);
    color: var(--clr-success-3);
}

.alert-info {
    background-color: var(--clr-info-1-60);
    border-color: var(--clr-info-2);
    color: var(--clr-info-3);
}

@media (min-width: 425px) {
    .flash-messages {
        width: 50svw;
    }

    .alert {
        font-size: var(--fs-md);
    }
}

@media (min-width: 1024px) {
    .flash-messages {
        width: 33svw;
    }

    .alert {
        font-size: var(--fs-sm);
    }
}