@keyframes disappear {
    from {
        opacity: 1;
        pointer-events: all;
        transform: translateX(-50%) scale(1);
    } to {
        opacity: 0;
        pointer-events: none;
        transform:  translateX(-50%) scale(0);
    }
}

.flash-messages {
    width: min-content;
    border-radius: var(--brd-r-lg);
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    position: absolute;
    top: var(--sp-lg);
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    animation: disappear 300ms 2000ms ease-in-out forwards;
}

.alert {
    max-width: 300px;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: inherit;
    padding: var(--card-padding);
    box-shadow: var(--shadow-inner);
    font-size: var(--fs-base);
    border: var(--brd-md);
}

.alert-error {
    background-color: var(--clr-danger-1-60);
    border-color: var(--clr-danger-2);
    color: var(--clr-danger-3);
}

.alert-success {
    background-color: var(--clr-success-1-60);
    border-color: var(--clr-success-2);
    color: var(--clr-success-3);
}