/* Form Containers */
.form-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    align-content: space-evenly;
    gap: var(--form-group-spacing);
    background-color: var(--clr-neutral-2);
    padding: var(--form-padding);
    box-shadow: var(--shadow-md);
    border-radius: var(--brd-r-lg);
}

.form-header {
    display: flex;
    justify-content: start;
    align-items: center;
}

.form-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: var(--form-group-wrapper-spacing);
    justify-content: center;
    align-items: center;
}

.form-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Form Inputs */
.form-input-group {
    display: grid;
    grid-template-rows: auto auto auto;
    gap: var(--input-group-spacing);
}

.form-input {
    padding: var(--input-padding);
    font-size: var(--fs-input);
    font-weight: var(--fw-input);
    line-height: var(--lh-input);
    color: var(--clr-text-1);
    background-color: var(--clr-neutral-3);
    border: var(--brd-s) solid var(--clr-neutral-1-60);
    border-radius: var(--brd-r-full);
    box-shadow: var(--shadow-inner);
    backdrop-filter: blur(12px);
    transition: border-color var(--trans-default), box-shadow var(--trans-default), background-color var(--trans-default);
    display: flex;
    align-items: center;
}

.form-input:hover {
    background-color: var(--clr-neutral-1);
    border: var(--brd-s) solid var(--clr-neutral-3);
}

.form-input-group:has(.form-input:focus) .form-label, 
.form-input-group:has(.form-input:focus-visible) .form-label {
    color: var(--clr-primary-3);
} 

.form-input::placeholder {
    color: var(--clr-text-3-60);
}

/* Focus */
.form-input:focus,
.form-input:focus-visible {
    outline: none;
    border-color: var(--brd-clr-interactive);
    box-shadow: var(--shadow-md);
    color: var(--clr-primary-1);
}

/* Error */
.form-input.error {
    border-color: var(--brd-color-danger);
    background-color: var(--clr-danger-1-20);
    color: var(--clr-danger-3);
}

.form-label {
    grid-row: 1;
    font-size: var(--fs-label);
    font-weight: var(--fw-label);
    line-height: var(--lh-label);
    color: var(--clr-text-2);
    padding-left: var(--pad-sm);
}

.form-input[type="text"] {
}

.form-input[type="radio"],
.form-input[type="check"] {
    width: auto;
    accent-color: var(--clr-primary-1);
}

.form-input[type="radio"] {
}

.form-check-group {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: start;
    gap: var(--sp-base);
}

.form-check-input {
    appearance: none;
    cursor: pointer;
}

.form-check-label {
    position: relative;
    background-color: var(--clr-neutral-2);
    border-radius: var(--brd-r-full);
    min-height: 24px;
    min-width: 48px;
    box-shadow: var(--shadow-inner);
    transition: background-color var(--trans-default), border var(--trans-default);
    cursor: pointer;
}

.form-check-label::before {
    content: "";
    position: absolute;
    background-color: var(--clr-neutral-3);
    box-shadow: var(--shadow-inner);
    height: 100%;
    width: 50%;
    border: var(--brd-sm);
    border-color: var(--clr-neutral-1);
    border-radius: inherit;
    left: 0;
    top: 0;
    transition: transform var(--trans-default);
}

.form-check-input:checked + .form-check-label {
    background-color: var(--clr-primary-2);
}

.form-check-input:checked + .form-check-label::before {
    transform: translateX(100%);
    color: var(--clr-primary-3);
    border: var(--brd-sm);
    border-color: var(--clr-primary-1);
}

.error-msg {
    color: var(--clr-danger-3);
    background-color: var(--clr-danger-1-20);
    border: var(--brd-sm);
    border-color: var(--clr-danger-2);
    font-size: var(--fs-base);
    border-radius: var(--brd-r-md);
    padding: var(--pad-sm);
}

@media (min-width: 425px) {
    .error-msg {
        color: var(--clr-danger-3);
        border: var(--brd-sm);
        border-color: var(--clr-danger-2);
        font-size: var(--fs-sm);
        border-radius: var(--brd-r-md);
        padding: var(--pad-xs);
    }
}

@media (min-width: 1024px) {
    .error-msg {
        font-size: var(--fs-xs);
    }
}