.material-symbols-outlined {
    transition: font-variation-settings 0.3s ease-in-out;
    font-variation-settings: "FILL" 0, "wght" 600, "GRAD" 0, "opsz" 24;
    font-size: inherit;
}

.material-symbols-outlined.sm {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 12;
    font-size: var(--fs-sm);
}

.material-symbols-outlined.md {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 36;
    font-size: var(--fs-md);
}

.material-symbols-outlined.lg {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
    font-size: var(--fs-lg);
}

.material-symbols-outlined.xl {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 60;
    font-size: var(--fs-xl);
}

.material-symbols-outlined.xxl {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 72;
    font-size: var(--fs-2xl);
}

.material-symbols-outlined.xxxl {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 84;
    font-size: var(--fs-3xl);
}