.page {
    margin: auto;
    height: 100%;
    position: relative;
}

.main-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--gap-sm);
    grid-auto-rows: minmax(200px, auto);
}

.grid-col {
    grid-column: span 4;
    height: 100%;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.items-start {
    align-items: start;
}

.items-center {
    align-items: center;
}

.items-stretch {
    align-items: stretch;
}

.items-baseline {
    align-items: baseline;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-evenly {
    justify-content: space-evenly;
}

@media (min-width: 768px) {
    .main-grid {
        grid-template-columns: repeat(8, 1fr);
        gap: var(--gap-md);
    }

    .md\:grid-col--1 {
        grid-column: span 1;
    }
    .md\:grid-col--2 {
        grid-column: span 2;
    }
    .md\:grid-col--3 {
        grid-column: span 3;
    }
    .md\:grid-col--4 {
        grid-column: span 4;
    }
    .md\:grid-col--5 {
        grid-column: span 5;
    }
    .md\:grid-col--6 {
        grid-column: span 6;
    }
    .md\:grid-col--7 {
        grid-column: span 7;
    }
    .md\:grid-col--8 {
        grid-column: span 8;
    }

    .md\:grid-row--1 {
        grid-row: span 1;
    }
    .md\:grid-row--2 {
        grid-row: span 2;
    }
    .md\:grid-row--3 {
        grid-row: span 3;
    }

    .md\:flex {
        display: flex;
    }
    .md\:flex-col {
        flex-direction: column;
    }
    .md\:flex-row {
        flex-direction: row;
    }
    .md\:items-center {
        align-items: center;
    }
    .md\:justify-between {
        justify-content: space-between;
    }
}

@media (min-width: 1024px) {
    .main-grid {
        grid-template-columns: repeat(12, 1fr);
        gap: var(--gap-lg);
    }

    .lg\:grid-col--1 {
        grid-column: span 1;
    }
    .lg\:grid-col--2 {
        grid-column: span 2;
    }
    .lg\:grid-col--3 {
        grid-column: span 3;
    }
    .lg\:grid-col--4 {
        grid-column: span 4;
    }
    .lg\:grid-col--5 {
        grid-column: span 5;
    }
    .lg\:grid-col--6 {
        grid-column: span 6;
    }
    .lg\:grid-col--7 {
        grid-column: span 7;
    }
    .lg\:grid-col--8 {
        grid-column: span 8;
    }
    .lg\:grid-col--9 {
        grid-column: span 9;
    }
    .lg\:grid-col--10 {
        grid-column: span 10;
    }
    .lg\:grid-col--11 {
        grid-column: span 11;
    }
    .lg\:grid-col--12 {
        grid-column: span 12;
    }

    .lg\:grid-row--1 {
        grid-row: span 1;
    }
    .lg\:grid-row--2 {
        grid-row: span 2;
    }
    .lg\:grid-row--3 {
        grid-row: span 3;
    }

    .lg\:flex {
        display: flex;
    }
    .lg\:flex-col {
        flex-direction: column;
    }
    .lg\:flex-row {
        flex-direction: row;
    }
    .lg\:items-center {
        align-items: center;
    }
    .lg\:justify-between {
        justify-content: space-between;
    }
}
