.icon {
    flex: 0 0 fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon i {
    flex: 1;
    display: inline-flex;
    color: inherit;
    justify-content: center;
    align-items: center;
    background-color: inherit;
}

.icon svg {
    width: 100%;
    height: 100%;
    color: inherit;
    background-color: inherit;
}