.page {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    padding-inline: var(--gap-xs);
    display: grid;
    margin: auto;
    grid-template-columns: repeat(12, 1fr);
}

@media (max-width: 768px) {
    .page {
        grid-template-columns: repeat(8, 1fr);
    }
}

@media (max-width: 425px) {
    .page {
        grid-template-columns: repeat(4, 1fr);
    }
}