{% extends 'base.html' %}

{% block body %}
<main id="info" class="page main-grid">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                {% from 'components/_flash.html' import flash_message %}
                    {{ flash_message(msg=message, category=category) }}
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <div class="page-controls">
        {% from 'components/_buttons.html' import button %}
        {{ button(text="Return", href=url_for('app.home'), variant="secondary", icon_name="arrow_circle_left") }}
        <h3>{%block pg_title %}{% endblock %}</h3>
    </div>

    <div class="grid-col" id="{% block pg_id %}{% endblock %}" >
        {% block content %}{% endblock %}
    </div>
</main>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='pages/info/styles/base.css') }}">
{% block substyles %}{% endblock %}
{% endblock %}
{% block scripts %}{% endblock %}