:root {
    /* Hue Spectrum */
    --h-primary: ;
    --h-secondary: ;
    --h-neutral: ;
    --h-text: ;
    --h-success: ;
    --h-warning: ;
    --h-danger: ;
    --h-info: ;
    --h-tertiary: ;

    /* Lightness Spectrum */
    --l-100: 100%;
    --l-95: 95%;
    --l-90: 90%;
    --l-85: 85%;
    --l-80: 80%;
    --l-75: 75%;
    --l-70: 70%;
    --l-65: 65%;
    --l-60: 60%;
    --l-55: 55%;
    --l-50: 50%;
    --l-45: 45%;
    --l-40: 40%;
    --l-35: 35%;
    --l-30: 30%;
    --l-25: 25%;
    --l-20: 20%;
    --l-15: 15%;
    --l-10: 10%;
    --l-05: 5%;
    --l-00: 0%;

    /* Saturation Spectrum */
    --s-100: 100%;
    --s-95: 95%;
    --s-90: 90%;
    --s-85: 85%;
    --s-80: 80%;
    --s-75: 75%;
    --s-70: 70%;
    --s-65: 65%;
    --s-60: 60%;
    --s-55: 55%;
    --s-50: 50%;
    --s-45: 45%;
    --s-40: 40%;
    --s-35: 35%;
    --s-30: 30%;
    --s-25: 25%;
    --s-20: 20%;
    --s-15: 15%;
    --s-10: 10%;
    --s-05: 5%;
    --s-00: 0%;
}

:root[data-theme="light"] {
    --clr-primary-1: hsl(var(--h-primary), var(--s-80), var(--l-70));
    --clr-primary-2: hsl(var(--h-primary), var(--s-90), var(--l-65));
    --clr-primary-3: hsl(var(--h-primary), var(--s-95), var(--l-60));
    --clr-secondary-1: hsl(var(--h-secondary), var(--s-80), var(--l-70));
    --clr-secondary-2: hsl(var(--h-secondary), var(--s-90), var(--l-65));
    --clr-secondary-3: hsl(var(--h-secondary), var(--s-95), var(--l-60));
    --clr-neutral-1: hsl(var(--h-neutral), var(--s-10), var(--l-95));
    --clr-neutral-2: hsl(var(--h-neutral), var(--s-15), var(--l-90));
    --clr-neutral-3: hsl(var(--h-neutral), var(--s-20), var(--l-85));
    --clr-text-1: hsl(var(--h-text), var(--s-10), var(--l-5));
    --clr-text-2: hsl(var(--h-text), var(--s-15), var(--l-10));
    --clr-text-3: hsl(var(--h-text), var(--s-20), var(--l-15));
    --clr-text-on-primary: hsl(var(--h-primary), var(--s-90) var(--l-20));
    --clr-success-1: hsl(var(--h-success), var(--s-50), var(--l-70));
    --clr-success-2: hsl(var(--h-success), var(--s-50), var(--l-60));
    --clr-success-3: hsl(var(--h-success), var(--s-50), var(--l-50));
    --clr-warning-1: hsl(var(--h-warning), var(--s-50), var(--l-70));
    --clr-warning-2: hsl(var(--h-warning), var(--s-50), var(--l-60));
    --clr-warning-3: hsl(var(--h-warning), var(--s-50), var(--l-50));
    --clr-danger-1: hsl(var(--h-danger), var(--s-50), var(--l-70));
    --clr-danger-2: hsl(var(--h-danger), var(--s-50), var(--l-60));
    --clr-danger-3: hsl(var(--h-danger), var(--s-50), var(--l-50));
    --clr-info-1: hsl(var(--h-info), var(--s-50), var(--l-70));
    --clr-info-2: hsl(var(--h-info), var(--s-50), var(--l-60));
    --clr-info-3: hsl(var(--h-info), var(--s-50), var(--l-50));
    --clr-tertiary-1: hsl(var(--h-tertiary), var(--s-50), var(--l-75));
    --clr-tertiary-2: hsl(var(--h-tertiary), var(--s-50), var(--l-70));
    --clr-tertiary-3: hsl(var(--h-tertiary), var(--s-50), var(--l-65));
}

@supports (color-scheme: light-dark) {
    :root {
        /* Base Colors */
        color-scheme: light dark;

        --clr-primary-1: light-dark(
            hsl(var(--h-primary), var(--s-80), var(--l-70)),
            hsl(var(--h-primary), var(--s-80), var(--l-30))
        );
        --clr-primary-2: light-dark(
            hsl(var(--h-primary), var(--s-90), var(--l-65)),
            hsl(var(--h-primary), var(--s-90), var(--l-35))
        );
        --clr-primary-3: light-dark(
            hsl(var(--h-primary), var(--s-95), var(--l-60)),
            hsl(var(--h-primary), var(--s-95), var(--l-40))
        );
        --clr-secondary-1: light-dark(
            hsl(var(--h-secondary), var(--s-80), var(--l-70)),
            hsl(var(--h-secondary), var(--s-80), var(--l-30))
        );
        --clr-secondary-2: light-dark(
            hsl(var(--h-secondary), var(--s-90), var(--l-65)),
            hsl(var(--h-secondary), var(--s-90), var(--l-35))
        );
        --clr-secondary-3: light-dark(
            hsl(var(--h-secondary), var(--s-95), var(--l-60)),
            hsl(var(--h-secondary), var(--s-95), var(--l-40))
        );
        --clr-neutral-1: light-dark(
            hsl(var(--h-neutral), var(--s-10), var(--l-95)),
            hsl(var(--h-neutral), var(--s-10), var(--l-5))
        );
        --clr-neutral-2: light-dark(
            hsl(var(--h-neutral), var(--s-15), var(--l-90)),
            hsl(var(--h-neutral), var(--s-15), var(--l-10))
        );
        --clr-neutral-3: light-dark(
            hsl(var(--h-neutral), var(--s-20), var(--l-85)),
            hsl(var(--h-neutral), var(--s-20), var(--l-15))
        );
        --clr-text-1: light-dark(
            hsl(var(--h-text), var(--s-10), var(--l-5)),
            hsl(var(--h-text), var(--s-10), var(--l-95))
        );
        --clr-text-2: light-dark(
            hsl(var(--h-text), var(--s-15), var(--l-10)),
            hsl(var(--h-text), var(--s-15), var(--l-90))
        );
        --clr-text-3: light-dark(
            hsl(var(--h-text), var(--s-20), var(--l-15)),
            hsl(var(--h-text), var(--s-20), var(--l-85))
        );
        --clr-text-on-primary: light-dark(
            hsl(var(--h-primary), var(--s-90), var(--l-20)),
            hsl(var(--h-primary), var(--s-90), var(--l-80))
        );
        --clr-success-1: light-dark(
            hsl(var(--h-success), var(--s-50), var(--l-70)),
            hsl(var(--h-success), var(--s-50), var(--l-30))
        );
        --clr-success-2: light-dark(
            hsl(var(--h-success), var(--s-50), var(--l-60)),
            hsl(var(--h-success), var(--s-50), var(--l-40))
        );
        --clr-success-3: light-dark(
            hsl(var(--h-success), var(--s-50), var(--l-50)),
            hsl(var(--h-success), var(--s-50), var(--l-50))
        );
        --clr-warning-1: light-dark(
            hsl(var(--h-warning), var(--s-50), var(--l-70)),
            hsl(var(--h-warning), var(--s-50), var(--l-30))
        );
        --clr-warning-2: light-dark(
            hsl(var(--h-warning), var(--s-50), var(--l-60)),
            hsl(var(--h-warning), var(--s-50), var(--l-40))
        );
        --clr-warning-3: light-dark(
            hsl(var(--h-warning), var(--s-50), var(--l-50)),
            hsl(var(--h-warning), var(--s-50), var(--l-50))
        );
        --clr-danger-1: light-dark(
            hsl(var(--h-danger), var(--s-50), var(--l-70)),
            hsl(var(--h-danger), var(--s-50), var(--l-30))
        );
        --clr-danger-2: light-dark(
            hsl(var(--h-danger), var(--s-50), var(--l-60)),
            hsl(var(--h-danger), var(--s-50), var(--l-40))
        );
        --clr-danger-3: light-dark(
            hsl(var(--h-danger), var(--s-50), var(--l-50)),
            hsl(var(--h-danger), var(--s-50), var(--l-50))
        );
        --clr-info-1: light-dark(
            hsl(var(--h-info), var(--s-50), var(--l-70)),
            hsl(var(--h-info), var(--s-50), var(--l-30))
        );
        --clr-info-2: light-dark(
            hsl(var(--h-info), var(--s-50), var(--l-60)),
            hsl(var(--h-info), var(--s-50), var(--l-40))
        );
        --clr-info-3: light-dark(
            hsl(var(--h-info), var(--s-50), var(--l-50)),
            hsl(var(--h-info), var(--s-50), var(--l-50))
        );
        --clr-tertiary-1: light-dark(
            hsl(var(--h-tertiary), var(--s-50), var(--l-75)),
            hsl(var(--h-tertiary), var(--s-50), var(--l-25))
        );
        --clr-tertiary-2: light-dark(
            hsl(var(--h-tertiary), var(--s-50), var(--l-70)),
            hsl(var(--h-tertiary), var(--s-50), var(--l-30))
        );
        --clr-tertiary-3: light-dark(
            hsl(var(--h-tertiary), var(--s-50), var(--l-65)),
            hsl(var(--h-tertiary), var(--s-50), var(--l-35))
        );
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --clr-primary-1: hsl(var(--h-primary), var(--s-80), var(--l-30));
        --clr-primary-2: hsl(var(--h-primary), var(--s-90), var(--l-35));
        --clr-primary-3: hsl(var(--h-primary), var(--s-95), var(--l-40));
        --clr-secondary-1: hsl(var(--h-secondary), var(--s-80), var(--l-30));
        --clr-secondary-2: hsl(var(--h-secondary), var(--s-90), var(--l-35));
        --clr-secondary-3: hsl(var(--h-secondary), var(--s-95), var(--l-40));
        --clr-neutral-1: hsl(var(--h-neutral), var(--s-10), var(--l-5));
        --clr-neutral-2: hsl(var(--h-neutral), var(--s-15), var(--l-10));
        --clr-neutral-3: hsl(var(--h-neutral), var(--s-20), var(--l-15));
        --clr-text-1: hsl(var(--h-text), var(--s-10), var(--l-95));
        --clr-text-2: hsl(var(--h-text), var(--s-15), var(--l-90));
        --clr-text-3: hsl(var(--h-text), var(--s-20), var(--l-85));
        --clr-text-on-primary: hsl(var(--h-primary), var(--s-90) var(--l-80));
        --clr-success-1: hsl(var(--h-success), var(--s-50), var(--l-30));
        --clr-success-2: hsl(var(--h-success), var(--s-50), var(--l-40));
        --clr-success-3: hsl(var(--h-success), var(--s-50), var(--l-50));
        --clr-warning-1: hsl(var(--h-warning), var(--s-50), var(--l-30));
        --clr-warning-2: hsl(var(--h-warning), var(--s-50), var(--l-40));
        --clr-warning-3: hsl(var(--h-warning), var(--s-50), var(--l-50));
        --clr-danger-1: hsl(var(--h-danger), var(--s-50), var(--l-30));
        --clr-danger-2: hsl(var(--h-danger), var(--s-50), var(--l-40));
        --clr-danger-3: hsl(var(--h-danger), var(--s-50), var(--l-50));
        --clr-info-1: hsl(var(--h-info), var(--s-50), var(--l-30));
        --clr-info-2: hsl(var(--h-info), var(--s-50), var(--l-40));
        --clr-info-3: hsl(var(--h-info), var(--s-50), var(--l-50));
        --clr-tertiary-1: hsl(var(--h-tertiary), var(--s-50), var(--l-25));
        --clr-tertiary-2: hsl(var(--h-tertiary), var(--s-50), var(--l-30));
        --clr-tertiary-3: hsl(var(--h-tertiary), var(--s-50), var(--l-35));
    }
}

:root[data-theme="dark"] {
    --clr-primary-1: hsl(var(--h-primary), var(--s-80), var(--l-30));
    --clr-primary-2: hsl(var(--h-primary), var(--s-90), var(--l-35));
    --clr-primary-3: hsl(var(--h-primary), var(--s-95), var(--l-40));
    --clr-secondary-1: hsl(var(--h-secondary), var(--s-80), var(--l-30));
    --clr-secondary-2: hsl(var(--h-secondary), var(--s-90), var(--l-35));
    --clr-secondary-3: hsl(var(--h-secondary), var(--s-95), var(--l-40));
    --clr-neutral-1: hsl(var(--h-neutral), var(--s-10), var(--l-5));
    --clr-neutral-2: hsl(var(--h-neutral), var(--s-15), var(--l-10));
    --clr-neutral-3: hsl(var(--h-neutral), var(--s-20), var(--l-15));
    --clr-text-1: hsl(var(--h-text), var(--s-10), var(--l-95));
    --clr-text-2: hsl(var(--h-text), var(--s-15), var(--l-90));
    --clr-text-3: hsl(var(--h-text), var(--s-20), var(--l-85));
    --clr-text-on-primary: hsl(var(--h-primary), var(--s-90) var(--l-80));
    --clr-success-1: hsl(var(--h-success), var(--s-50), var(--l-30));
    --clr-success-2: hsl(var(--h-success), var(--s-50), var(--l-40));
    --clr-success-3: hsl(var(--h-success), var(--s-50), var(--l-50));
    --clr-warning-1: hsl(var(--h-warning), var(--s-50), var(--l-30));
    --clr-warning-2: hsl(var(--h-warning), var(--s-50), var(--l-40));
    --clr-warning-3: hsl(var(--h-warning), var(--s-50), var(--l-50));
    --clr-danger-1: hsl(var(--h-danger), var(--s-50), var(--l-30));
    --clr-danger-2: hsl(var(--h-danger), var(--s-50), var(--l-40));
    --clr-danger-3: hsl(var(--h-danger), var(--s-50), var(--l-50));
    --clr-info-1: hsl(var(--h-info), var(--s-50), var(--l-30));
    --clr-info-2: hsl(var(--h-info), var(--s-50), var(--l-40));
    --clr-info-3: hsl(var(--h-info), var(--s-50), var(--l-50));
    --clr-tertiary-1: hsl(var(--h-tertiary), var(--s-50), var(--l-25));
    --clr-tertiary-2: hsl(var(--h-tertiary), var(--s-50), var(--l-30));
    --clr-tertiary-3: hsl(var(--h-tertiary), var(--s-50), var(--l-35));
}

:root {
    /* Transparency */
    --clr-primary-1-80: hsl(from var(--clr-primary-1) h s l / 80%);
    --clr-primary-1-60: hsl(from var(--clr-primary-1) h s l / 60%);
    --clr-primary-1-40: hsl(from var(--clr-primary-1) h s l / 40%);
    --clr-primary-1-20: hsl(from var(--clr-primary-1) h s l / 20%);

    --clr-primary-2-80: hsl(from var(--clr-primary-2) h s l / 80%);
    --clr-primary-2-60: hsl(from var(--clr-primary-2) h s l / 60%);
    --clr-primary-2-40: hsl(from var(--clr-primary-2) h s l / 40%);
    --clr-primary-2-20: hsl(from var(--clr-primary-2) h s l / 20%);

    --clr-primary-3-80: hsl(from var(--clr-primary-3) h s l / 80%);
    --clr-primary-3-60: hsl(from var(--clr-primary-3) h s l / 60%);
    --clr-primary-3-40: hsl(from var(--clr-primary-3) h s l / 40%);
    --clr-primary-3-20: hsl(from var(--clr-primary-3) h s l / 20%);

    --clr-secondary-1-80: hsl(from var(--clr-secondary-1) h s l / 80%);
    --clr-secondary-1-60: hsl(from var(--clr-secondary-1) h s l / 60%);
    --clr-secondary-1-40: hsl(from var(--clr-secondary-1) h s l / 40%);
    --clr-secondary-1-20: hsl(from var(--clr-secondary-1) h s l / 20%);

    --clr-secondary-2-80: hsl(from var(--clr-secondary-2) h s l / 80%);
    --clr-secondary-2-60: hsl(from var(--clr-secondary-2) h s l / 60%);
    --clr-secondary-2-40: hsl(from var(--clr-secondary-2) h s l / 40%);
    --clr-secondary-2-20: hsl(from var(--clr-secondary-2) h s l / 20%);

    --clr-secondary-3-80: hsl(from var(--clr-secondary-3) h s l / 80%);
    --clr-secondary-3-60: hsl(from var(--clr-secondary-3) h s l / 60%);
    --clr-secondary-3-40: hsl(from var(--clr-secondary-3) h s l / 40%);
    --clr-secondary-3-20: hsl(from var(--clr-secondary-3) h s l / 20%);

    --clr-neutral-1-80: hsl(from var(--clr-neutral-2) h s l / 80%);
    --clr-neutral-1-60: hsl(from var(--clr-neutral-2) h s l / 60%);
    --clr-neutral-1-40: hsl(from var(--clr-neutral-2) h s l / 40%);
    --clr-neutral-1-20: hsl(from var(--clr-neutral-2) h s l / 20%);

    --clr-neutral-2-80: hsl(from var(--clr-neutral-2) h s l / 80%);
    --clr-neutral-2-60: hsl(from var(--clr-neutral-2) h s l / 60%);
    --clr-neutral-2-40: hsl(from var(--clr-neutral-2) h s l / 40%);
    --clr-neutral-2-20: hsl(from var(--clr-neutral-2) h s l / 20%);

    --clr-neutral-3-80: hsl(from var(--clr-neutral-3) h s l / 80%);
    --clr-neutral-3-60: hsl(from var(--clr-neutral-3) h s l / 60%);
    --clr-neutral-3-40: hsl(from var(--clr-neutral-3) h s l / 40%);
    --clr-neutral-3-20: hsl(from var(--clr-neutral-3) h s l / 20%);

    --clr-text-1-80: hsl(from var(--clr-text-1) h s l / 80%);
    --clr-text-1-60: hsl(from var(--clr-text-1) h s l / 60%);
    --clr-text-1-40: hsl(from var(--clr-text-1) h s l / 40%);
    --clr-text-1-20: hsl(from var(--clr-text-1) h s l / 20%);

    --clr-text-2-80: hsl(from var(--clr-text-2) h s l / 80%);
    --clr-text-2-60: hsl(from var(--clr-text-2) h s l / 60%);
    --clr-text-2-40: hsl(from var(--clr-text-2) h s l / 40%);
    --clr-text-2-20: hsl(from var(--clr-text-2) h s l / 20%);

    --clr-text-3-80: hsl(from var(--clr-text-3) h s l / 80%);
    --clr-text-3-60: hsl(from var(--clr-text-3) h s l / 60%);
    --clr-text-3-40: hsl(from var(--clr-text-3) h s l / 40%);
    --clr-text-3-20: hsl(from var(--clr-text-3) h s l / 20%);

    --clr-success-1-80: hsl(from var(--clr-success-1) h s l / 80%);
    --clr-success-1-60: hsl(from var(--clr-success-1) h s l / 60%);
    --clr-success-1-40: hsl(from var(--clr-success-1) h s l / 40%);
    --clr-success-1-20: hsl(from var(--clr-success-1) h s l / 20%);

    --clr-success-2-80: hsl(from var(--clr-success-2) h s l / 80%);
    --clr-success-2-60: hsl(from var(--clr-success-2) h s l / 60%);
    --clr-success-2-40: hsl(from var(--clr-success-2) h s l / 40%);
    --clr-success-2-20: hsl(from var(--clr-success-2) h s l / 20%);

    --clr-success-3-80: hsl(from var(--clr-success-3) h s l / 80%);
    --clr-success-3-60: hsl(from var(--clr-success-3) h s l / 60%);
    --clr-success-3-40: hsl(from var(--clr-success-3) h s l / 40%);
    --clr-success-3-20: hsl(from var(--clr-success-3) h s l / 20%);

    --clr-warning-1-80: hsl(from var(--clr-warning-1) h s l / 80%);
    --clr-warning-1-60: hsl(from var(--clr-warning-1) h s l / 60%);
    --clr-warning-1-40: hsl(from var(--clr-warning-1) h s l / 40%);
    --clr-warning-1-20: hsl(from var(--clr-warning-1) h s l / 20%);

    --clr-warning-2-80: hsl(from var(--clr-warning-2) h s l / 80%);
    --clr-warning-2-60: hsl(from var(--clr-warning-2) h s l / 60%);
    --clr-warning-2-40: hsl(from var(--clr-warning-2) h s l / 40%);
    --clr-warning-2-20: hsl(from var(--clr-warning-2) h s l / 20%);

    --clr-warning-3-80: hsl(from var(--clr-warning-3) h s l / 80%);
    --clr-warning-3-60: hsl(from var(--clr-warning-3) h s l / 60%);
    --clr-warning-3-40: hsl(from var(--clr-warning-3) h s l / 40%);
    --clr-warning-3-20: hsl(from var(--clr-warning-3) h s l / 20%);

    --clr-danger-1-80: hsl(from var(--clr-danger-1) h s l / 80%);
    --clr-danger-1-60: hsl(from var(--clr-danger-1) h s l / 60%);
    --clr-danger-1-40: hsl(from var(--clr-danger-1) h s l / 40%);
    --clr-danger-1-20: hsl(from var(--clr-danger-1) h s l / 20%);

    --clr-danger-2-80: hsl(from var(--clr-danger-2) h s l / 80%);
    --clr-danger-2-60: hsl(from var(--clr-danger-2) h s l / 60%);
    --clr-danger-2-40: hsl(from var(--clr-danger-2) h s l / 40%);
    --clr-danger-2-20: hsl(from var(--clr-danger-2) h s l / 20%);

    --clr-danger-3-80: hsl(from var(--clr-danger-3) h s l / 80%);
    --clr-danger-3-60: hsl(from var(--clr-danger-3) h s l / 60%);
    --clr-danger-3-40: hsl(from var(--clr-danger-3) h s l / 40%);
    --clr-danger-3-20: hsl(from var(--clr-danger-3) h s l / 20%);

    --clr-info-1-80: hsl(from var(--clr-info-1) h s l / 80%);
    --clr-info-1-60: hsl(from var(--clr-info-1) h s l / 60%);
    --clr-info-1-40: hsl(from var(--clr-info-1) h s l / 40%);
    --clr-info-1-20: hsl(from var(--clr-info-1) h s l / 20%);

    --clr-info-2-80: hsl(from var(--clr-info-2) h s l / 80%);
    --clr-info-2-60: hsl(from var(--clr-info-2) h s l / 60%);
    --clr-info-2-40: hsl(from var(--clr-info-2) h s l / 40%);
    --clr-info-2-20: hsl(from var(--clr-info-2) h s l / 20%);

    --clr-info-3-80: hsl(from var(--clr-info-3) h s l / 80%);
    --clr-info-3-60: hsl(from var(--clr-info-3) h s l / 60%);
    --clr-info-3-40: hsl(from var(--clr-info-3) h s l / 40%);
    --clr-info-3-20: hsl(from var(--clr-info-3) h s l / 20%);

    --clr-tertiary-1-80: hsl(from var(--clr-tertiary-1) h s l / 80%);
    --clr-tertiary-1-60: hsl(from var(--clr-tertiary-1) h s l / 60%);
    --clr-tertiary-1-40: hsl(from var(--clr-tertiary-1) h s l / 40%);
    --clr-tertiary-1-20: hsl(from var(--clr-tertiary-1) h s l / 20%);

    --clr-tertiary-2-80: hsl(from var(--clr-tertiary-2) h s l / 80%);
    --clr-tertiary-2-60: hsl(from var(--clr-tertiary-2) h s l / 60%);
    --clr-tertiary-2-40: hsl(from var(--clr-tertiary-2) h s l / 40%);
    --clr-tertiary-2-20: hsl(from var(--clr-tertiary-2) h s l / 20%);

    --clr-tertiary-3-80: hsl(from var(--clr-tertiary-3) h s l / 80%);
    --clr-tertiary-3-60: hsl(from var(--clr-tertiary-3) h s l / 60%);
    --clr-tertiary-3-40: hsl(from var(--clr-tertiary-3) h s l / 40%);
    --clr-tertiary-3-20: hsl(from var(--clr-tertiary-3) h s l / 20%);
    --clr-transparent: transparent;
}
