@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    /* Fluid Base Typography */
    --fs-floor: 12px;
    --fs-ceil: 32px;

    /* Linear Interpolation Derivatives */
    --fs-intercept: 9.142857px;
    --fs-slope: 0.892857vw;
    --fs-pref: calc(var(--fs-intercept) + var(--fs-slope));

    /* Fluid Typography Settings */
    --fs-xs-floor: calc(var(--fs-floor) * var(--mul-xs));
    --fs-xs-ceil: calc(var(--fs-ceil) * var(--mul-xs));
    --fs-xs-pref: calc(var(--fs-pref) * var(--mul-xs));

    --fs-sm-floor: calc(var(--fs-floor) * var(--mul-sm));
    --fs-sm-ceil: calc(var(--fs-ceil) * var(--mul-sm));
    --fs-sm-pref: calc(var(--fs-pref) * var(--mul-sm));

    --fs-md-floor: calc(var(--fs-floor) * var(--mul-md));
    --fs-md-ceil: calc(var(--fs-ceil) * var(--mul-md));
    --fs-md-pref: calc(var(--fs-pref) * var(--mul-md));

    --fs-lg-floor: calc(var(--fs-floor) * var(--mul-lg));
    --fs-lg-ceil: calc(var(--fs-ceil) * var(--mul-lg));
    --fs-lg-pref: calc(var(--fs-pref) * var(--mul-lg));

    --fs-xl-floor: calc(var(--fs-floor) * var(--mul-xl));
    --fs-xl-ceil: calc(var(--fs-ceil) * var(--mul-xl));
    --fs-xl-pref: calc(var(--fs-pref) * var(--mul-xl));

    --fs-2xl-floor: calc(var(--fs-floor) * var(--mul-2xl));
    --fs-2xl-ceil: calc(var(--fs-ceil) * var(--mul-2xl));
    --fs-2xl-pref: calc(var(--fs-pref) * var(--mul-2xl));

    --fs-3xl-floor: calc(var(--fs-floor) * var(--mul-3xl));
    --fs-3xl-ceil: calc(var(--fs-ceil) * var(--mul-3xl));
    --fs-3xl-pref: calc(var(--fs-pref) * var(--mul-3xl));

    --fs-max-floor: calc(var(--fs-floor) * var(--mul-max));
    --fs-max-ceil: calc(var(--fs-ceil) * var(--mul-max));
    --fs-max-pref: calc(var(--fs-pref) * var(--mul-max));

    /* Derived Font Sizes */
    --fs-xs: clamp(var(--fs-xs-floor), var(--fs-xs-pref), var(--fs-xs-ceil));
    --fs-sm: clamp(var(--fs-sm-floor), var(--fs-sm-pref), var(--fs-sm-ceil));
    --fs-base: clamp(var(--fs-floor), var(--fs-pref), var(--fs-ceil));
    --fs-md: clamp(var(--fs-md-floor), var(--fs-md-pref), var(--fs-md-ceil));
    --fs-lg: clamp(var(--fs-lg-floor), var(--fs-lg-pref), var(--fs-lg-ceil));
    --fs-xl: clamp(var(--fs-xl-floor), var(--fs-xl-pref), var(--fs-xl-ceil));
    --fs-2xl: clamp(
        var(--fs-2xl-floor),
        var(--fs-2xl-pref),
        var(--fs-2xl-ceil)
    );
    --fs-3xl: clamp(
        var(--fs-3xl-floor),
        var(--fs-3xl-pref),
        var(--fs-3xl-ceil)
    );
    --fs-max: clamp(
        var(--fs-max-floor),
        var(--fs-max-pref),
        var(--fs-max-ceil)
    );

    /* Line Heights */
    --lh-tight: 1.2;
    --lh-snug: 1.35;
    --lh-base: 1.5;
    --lh-relaxed: 1.65;
    --lh-loose: 1.65;

    /* Letter Spacing */
    --ls-tight: -0.02em;
    --ls-normal: 0em;
    --ls-wide: 0.05em;
    --ls-wider: 0.1em;

    /* Weights */
    --fw-thin: 300;
    --fw-normal: 500;
    --fw-bold: 700;
    --fw-black: 900;
}

html {
    font-family: "Inter", sans-serif;
    font-size: var(--fs-base);
    line-height: var(--lh-loose);
    color: var(--clr-text-base);
}

p,
body,
li,
a,
button,
label,
input {
    font-size: inherit;
    color: var(--clr-text-base);
}

p.light {
    color: var(--clr-text-alt);
    font-weight: var(--fw-thin);
}