@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    /* Fluid Base Typography */
    --fs-floor: 12px;
    --fs-ceil: 32px;

    /* Linear Interpolation Derivatives */
    --fs-intercept: 9.142857px;
    --fs-slope: 0.892857vw;
    --fs-pref: calc(var(--fs-intercept) + var(--fs-slope));

    /* Fluid Typography Settings */
    --fs-xs-floor: calc(var(--fs-floor) * var(--mul-xs));
    --fs-xs-ceil: calc(var(--fs-ceil) * var(--mul-xs));
    --fs-xs-pref: calc(var(--fs-pref) * var(--mul-xs));

    --fs-sm-floor: calc(var(--fs-floor) * var(--mul-sm));
    --fs-sm-ceil: calc(var(--fs-ceil) * var(--mul-sm));
    --fs-sm-pref: calc(var(--fs-pref) * var(--mul-sm));

    --fs-md-floor: calc(var(--fs-floor) * var(--mul-md));
    --fs-md-ceil: calc(var(--fs-ceil) * var(--mul-md));
    --fs-md-pref: calc(var(--fs-pref) * var(--mul-md));

    --fs-lg-floor: calc(var(--fs-floor) * var(--mul-lg));
    --fs-lg-ceil: calc(var(--fs-ceil) * var(--mul-lg));
    --fs-lg-pref: calc(var(--fs-pref) * var(--mul-lg));

    --fs-xl-floor: calc(var(--fs-floor) * var(--mul-xl));
    --fs-xl-ceil: calc(var(--fs-ceil) * var(--mul-xl));
    --fs-xl-pref: calc(var(--fs-pref) * var(--mul-xl));

    --fs-2xl-floor: calc(var(--fs-floor) * var(--mul-2xl));
    --fs-2xl-ceil: calc(var(--fs-ceil) * var(--mul-2xl));
    --fs-2xl-pref: calc(var(--fs-pref) * var(--mul-2xl));

    --fs-3xl-floor: calc(var(--fs-floor) * var(--mul-3xl));
    --fs-3xl-ceil: calc(var(--fs-ceil) * var(--mul-3xl));
    --fs-3xl-pref: calc(var(--fs-pref) * var(--mul-3xl));

    --fs-max-floor: calc(var(--fs-floor) * var(--mul-max));
    --fs-max-ceil: calc(var(--fs-ceil) * var(--mul-max));
    --fs-max-pref: calc(var(--fs-pref) * var(--mul-max));

    /* Derived Font Sizes */
    --fs-xs: clamp(var(--fs-xs-floor), var(--fs-xs-pref), var(--fs-xs-ceil));
    --fs-sm: clamp(var(--fs-sm-floor), var(--fs-sm-pref), var(--fs-sm-ceil));
    --fs-base: clamp(var(--fs-floor), var(--fs-pref), var(--fs-ceil));
    --fs-md: clamp(var(--fs-md-floor), var(--fs-md-pref), var(--fs-md-ceil));
    --fs-lg: clamp(var(--fs-lg-floor), var(--fs-lg-pref), var(--fs-lg-ceil));
    --fs-xl: clamp(var(--fs-xl-floor), var(--fs-xl-pref), var(--fs-xl-ceil));
    --fs-2xl: clamp(
        var(--fs-2xl-floor),
        var(--fs-2xl-pref),
        var(--fs-2xl-ceil)
    );
    --fs-3xl: clamp(
        var(--fs-3xl-floor),
        var(--fs-3xl-pref),
        var(--fs-3xl-ceil)
    );
    --fs-max: clamp(
        var(--fs-max-floor),
        var(--fs-max-pref),
        var(--fs-max-ceil)
    );

    /* Line Heights */
    --lh-none: 0;
    --lh-tight: 1.2;
    --lh-snug: 1.35;
    --lh-base: 1.5;
    --lh-relaxed: 1.65;
    --lh-loose: 1.85;

    /* Letter Spacing */
    --ls-tight: -0.02em;
    --ls-normal: 0em;
    --ls-wide: 0.05em;
    --ls-wider: 0.1em;

    /* Weights */
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;
    --fw-900: 900;

    /* Semantic Alisaing */
    --fs-body: var(--fs-lg);
    --fs-button: var(--fs-md);
    --fs-input: var(--fs-base);
    --fs-label: var(--fs-sm);
    --fs-icon: var(--fs-lg);
    --fs-h1: var(--fs-3xl);
    --fs-h2: var(--fs-2xl);
    --fs-h3: var(--fs-xl);

    --lh-body: var(--lh-relaxed);
    --lh-button: var(--lh-tight);
    --lh-input: var(--lh-base);
    --lh-label: var(--lh-relaxed);
    --lh-h1: var(--lh-tight);
    --lh-h2: var(--lh-snug);
    --lh-h3: var(--lh-base);

    --fw-body: var(--fw-400);
    --fw-button: var(--fw-300);
    --fw-button-primary: var(--fw-600);
    --fw-input: var(--fw-500);
    --fw-label: var(--fw-300);
    --fw-h1: var(--fw-900);
    --fw-h2: var(--fw-700);
    --fw-h3: var(--fw-600);
}

/* Tablet */
@media (min-width: 425px) {
    :root {
        --fs-body: var(--fs-md);
        --fs-button: var(--fs-base);
        --fs-input: var(--fs-sm);
        --fs-label: var(--fs-xs);
        --fs-h1: var(--fs-2xl);
        --fs-h2: var(--fs-xl);
        --fs-h3: var(--fs-lg);
    }
}

/* Laptop */
@media (min-width: 1024px) {
    :root {
        --fs-body: var(--fs-base);
        --fs-button: var(--fs-sm);
        --fs-input: var(--fs-sm);
        --fs-label: var(--fs-xs);
        --fs-h1: var(--fs-3xl);
        --fs-h2: var(--fs-lg);
        --fs-h3: var(--fs-md);
    }
}

html {
    font-size: 16px;
}

body {
    font-family: "Inter", sans-serif;
    font-size: var(--fs-body);
    color: var(--clr-text-2);
    line-height: var(--lh-body);
    font-weight: var(--fw-body);
}

p,
a,
li {
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
}

button {
    font-size: var(--fs-button);
    line-height: var(--lh-button);
    color: var(--clr-text-2);
    font-weight: var(--fw-button);
}

input,
select,
textarea {
    font-size: var(--fs-input);
    line-height: var(--lh-input);
    color: var(--clr-text-2);
    font-weight: var(--fw-input);
}

label,
option {
    font-size: var(--fs-label);
    line-height: var(--lh-label);
    color: var(--clr-text-2);
    font-weight: var(--fw-label);
}

h1 {
    font-size: var(--fs-h1);
    line-height: var(--lh-h1);
    color: var(--clr-text-3);
    font-weight: var(--fw-h1);
}

h2 {
    font-size: var(--fs-h2);
    line-height: var(--lh-h2);
    font-weight: var(--fw-h2);
    color: var(--clr-text-2);
}

h3 {
    font-size: var(--fs-h3);
    line-height: var(--lh-h3);
    font-weight: var(--fw-h3);
    color: var(--clr-text-1);
}