#app {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "dashboard";
}

#index {
    grid-area: index;
    background-color: var(--clr-neutral-2);
    width: 100dvw;
    height: 100dvh;
    position: fixed;
    top: 0;
    left: 0;
    gap: var(--sp-lg);
    transform: translateX(-100%);
    transition: transform var(--trans-default);
    z-index: 100;
}

#index.shown {
    transform: translateX(0%);
}

header {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--sp-2xl);
}

#logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--sp-base);
    padding: var(--pad-base);
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--sp-base);
}

.logo-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: clamp(40px, 5vw, 160px);
    overflow: hidden;
    border-radius: var(--brd-r-full);
}

.logo-text {
    flex: 1;
    display: flex;
    justify-content: start;
    align-items: center;
}

.nav-label {
    font-size: var(--fs-base);
    font-weight: var(--fw-thin);
    color: var(--clr-text-3);
}

.footer-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-wrapper {
    overflow: hidden;
    display: grid;
    grid-template-rows: 0fr;
    transition: grid var(--trans-default);
}

#main-footer.shown .footer-wrapper {
    grid-template-rows: 1fr;
}

#toggle-footer {
    transition: transform var(--trans-default);
}

#main-footer.shown #toggle-footer {
    transform: rotate(180deg);
}

#secondary-nav-links {
    overflow: hidden;
}

#primary,
#secondary {
    display: grid;
    grid-template-rows: auto 1fr;
    padding: var(--pad-base);
    gap: var(--sp-lg);
}

#dashboard {
    grid-area: dashboard;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: var(--sp-base);
    background-color: red;
}

.page-header {
    margin-left: var(--sp-lg);
    margin-top: var(--sp-lg);
    display: flex;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: var(--sp-lg);
}

.tablet-only {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 50;
    width: 100dvw;
    height: 100dvh;
    transform: translateX(100%);
    background-color: var(--clr-neutral-1-40);
    backdrop-filter: blur(12px);
    display: none;
    transition: transform var(--trans-default);
}

@media (min-width: 425px) {
    #app {
        grid-template-columns: repeat(8, 1fr);
        grid-template-areas: "dashboard dashboard dashboard dashboard dashboard dashboard dashboard dashboard";
    }

    #index {
        width: clamp(425px, 800px, 80%);
    }

    #index.shown + .tablet-only {
        transform: translateX(0%);
    }

    .tablet-only {
        display: block;
    }
}

@media (min-width: 1024px) {
    #app {
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas: "index index index dashboard dashboard dashboard dashboard dashboard dashboard dashboard dashboard dashboard";
    }

    #index {
        transform: translateX(0%);
        position: static;
        width: 100%;
        grid-area: index;
        gap: var(--sp-base);
    }

    header {
        gap: var(--sp-base);
    }

    .nav-label {
        font-size: var(--fs-sm);
        font-weight: var(--fw-thin);
        color: var(--clr-text-3);
    }

    #primary,
    #secondary {
        gap: var(--sp-sm);
    }

    .tablet-only {
        display: none;
    }

    .mobile-only {
        display: none;
    }
}
