#dashboard {
    max-height: 100dvh;
    overflow: hidden;
    position: relative;
}

.page-header {
    align-items: center;
    justify-content: space-between;
}

#page-controls {
    display: flex;
    gap: var(--sp-base);
    align-items: center;
    margin-right: var(--sp-base);
}

#tasks {
    display: grid;
    grid-column: 1 / -1;
    padding: var(--section-padding);
    max-height: 100%;
    gap: var(--sp-base);
}

.sidebar {
    height: 100dvh;
    width: 100dvw;
    top: 0;
    right: 0;
    position: absolute;
    padding: 0;
    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
    transition: transform var(--trans-default), opacity var(--trans-default), padding var(--trans-default);
    z-index: 50;
}

.sidebar.shown {
    padding: var(--pad-sm);
    transform: translateX(0%);
    opacity: 1;
    pointer-events: all;
}

.sidebar-wrapper {
    display: grid;
    grid-template-rows: auto 1fr;
    padding: var(--pad-lg);
    background-color: var(--clr-neutral-2);
    height: 100%;
    border-radius: var(--brd-r-2xl);
    gap: var(--sp-lg);
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#identity-controls {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-neutral-2);
    padding: var(--pad-xs);
    border-radius: var(--brd-r-full);
}

#all-identities-wrapper {
    display: grid;
    grid-template-rows: 1fr;
    overflow: hidden;
}

#identity-controls.shown #all-identities {
    padding: var(--pad-sm);
}

#all-identities .identity-card {
    background-color: var(--clr-neutral-3);
}

#all-identities .identity-card:hover {
    background-color: var(--clr-info-1-40);
    cursor: pointer;
}

#all-identities {
    overflow: hidden;
    display: grid;
    background-color: var(--clr-neutral-2);
    border-radius: var(--brd-r-lg);
    padding: 0;
    gap: var(--sp-base);
    overflow-y: auto;
    scrollbar-width: thin;
    max-height: 400px;
    padding-block: var(--pad-base);
}

#selected-identity {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: var(--sp-lg);
}

.identity-card {
    display: flex;
    align-items: center;
    gap: var(--sp-base);
    padding: var(--pad-sm);
    border-radius: var(--brd-r-full);
}

.identity-img {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: calc(24px + calc(0.5rem * 2));
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: var(--brd-r-full);
}

.identity-name {
    font-size: var(--fs-base);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

#create-task-wrapper {
    grid-template-rows: auto auto 1fr;
}

#create-task-form {
    align-items: space-around;
    justify-content: center;
    box-shadow: none;
}

.task-project {
    display: grid;
    gap: var(--sp-sm);
}

#select-project-wrapper {
    grid-template-rows: auto auto 1fr;
}

#curr-project {
    display: grid;
    gap: var(--sp-base);
}

.curr-project-name {
    font-size: var(--fs-sm);
    padding: var(--pad-base);
    background-color: var(--clr-primary-1-20);
    border-radius: var(--brd-r-lg);
}

.project-list-container {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: var(--sp-lg);
}

.project-choices {
    display: grid;
    align-items: start;
    gap: var(--sp-md);
    max-height: 500px;
    overflow-y: auto;
    scrollbar-width: thin;
}

.project-choice {
    display: grid;
    gap: var(--sp-sm);
}

.project-card {
    padding: var(--pad-base);
    background-color: var(--clr-neutral-3-40);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--fs-base);
    border-radius: var(--brd-r-lg);
    border: var(--brd-sm) var(--clr-transparent);
    transition: background-color var(--trans-default);
}

.project-choice-input:checked + .project-card {
    background-color: var(--clr-info-1-40);
    border: var(--brd-sm) var(--clr-info-3);
}

.project-card:hover {
    background-color: var(--clr-neutral-3);
    cursor: pointer;
}

.no-projects {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    gap: var(--sp-3xl);
    margin-top: var(--sp-3xl);
}

.no-projects .btn {
    max-width: 100%;
}

.no-projects .btn__text {
    display: flex;
}

#submit-create-task {
    background-color: var(--clr-success-3);
}

#reset-form {
    background-color: var(--clr-warning-3);
}

.difficulty-options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--sp-base);
    width: 100%;
}

.difficulty-option {
    flex: 1;
    display: flex;
}

.difficulty-input:checked + .difficulty-label {
    background-color: var(--clr-secondary-1-40);
    border: var(--brd-sm);
    border-color: var(--clr-secondary-2);
}

.difficulty-label {
    flex: 1;
    text-align: center;
    border: var(--brd-sm);
    border-color: var(--clr-transparent);
    background-color: var(--clr-neutral-3);
    padding: var(--pad-sm);
    border-radius: var(--brd-r-full);
    transition: background-color var(--trans-default), border var(--trans-default), color var(--trans-default);
}

#task-controls {
    display: grid;
    gap: var(--sp-lg);
    padding: var(--pad-base);
}

.difficulty-controls {
    display: flex;
    flex-wrap: wrap;
    gap: var(--sp-base);
}

.difficulty-controls .btn {
    flex: 1;
    max-width: 100%;
    background-color: var(--clr-neutral-2);
}

.difficulty-controls .btn:hover {
    background-color: var(--clr-neutral-3);
}

.difficulty-controls .btn__text {
    display: flex;
}

@media (min-width: 425px) {
    .sidebar {
        width: 400px;
    }
}

@media (min-width: 1024px) {
    .sidebar {
        width: 500px;
    }

    .sidebar-wrapper {
        gap: var(--sp-base);
    }
}