#dashboard {
    max-height: 100dvh;
    overflow: hidden;
}

.page-header {
    justify-content: space-between;
}

#toggle-timeline-view {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: var(--sp-lg);
}

#thoughts {
    display: grid;
    grid-column: 1 / -1;
    grid-template-rows: 1fr 25dvh;
    padding: var(--section-padding);
    max-height: 100%;
    gap: var(--sp-base);
}

#thought-window {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--sp-base);
    overflow: hidden;
    position: relative;
}

#view-thoughts {
    position: relative;
    height: 100%;
    overflow: hidden;
    display: grid;
}

#timeline-groupings {
    overflow-y: auto;
    display: grid;
    gap: var(--sp-lg);
    scrollbar-width: thin;
    scroll-behavior: smooth;
    padding-bottom: var(--pad-base);
}

.empty-list-message-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timeline-grouping-items {
    display: grid;
    gap: var(--sp-base);
}

.timeline-group-item {
    display: grid;
    gap: var(--sp-base);
}

.timeline-grouping-data-list {
    display: grid;
    gap: var(--sp-base);
}

.thought-card {
    position: relative;
    display: flex;
    align-items: center;
    gap: var(--sp-base);
    background-color: var(--clr-neutral-2);
    padding: var(--pad-base);
    border-radius: var(--brd-r-lg);
}

.thought-content {
    display: grid;
    gap: var(--sp-lg);
    flex: 1;
}

.identity-data {
    display: flex;
    gap: var(--sp-base);
    align-items: center;
}

.identity-data .identity-name {
    font-size: var(--fs-sm);
}

.identity-data .created-at {
    font-size: var(--fs-xs);
    color: var(--clr-text-2);
}

.thought-text-content,
.thought-text-input {
    font-size: var(--fs-base);
}

.thought-text-input {
    display: none;
    background-color: var(--clr-neutral-3);
    box-shadow: var(--shadow-inner);
    border: var(--brd-sm);
    border-color: var(--clr-info-1);
    border-radius: var(--brd-r-lg);
    font-size: var(--fs-sm);
    padding: var(--pad-sm);
}

.thought-text-input:focus-visible {
    border: var(--brd-sm);
    border-color: var(--clr-info-1);
    outline: none;
}

.thought-card.editing .thought-text-content {
    display: none;
}

.thought-card.editing .thought-text-input {
    display: inline-block;
}

.controls {
    position: relative;
    align-self: start;
}

.thought-controls {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-10%, -50%);
    right: var(--sp-2xl);
    align-items: center;
    border-radius: var(--brd-r-full);
    gap: var(--sp-sm);
    display: none;
    pointer-events: none;
}

.thought-controls .btn {
    padding: var(--pad-xs);
    background-color: var(--clr-neutral-1);
}

.thought-controls .btn__icon {
    font-variation-settings: "FILL" 0, "wght" 600, "GRAD" 0, "opsz" 8;
} 

.controls.shown .thought-controls {
    pointer-events: all;
    display: flex;
    justify-content: space-between;
}

.confirm-edit {
    display: none;
}

.thought-card.editing .edit-thought {
    display: none;
}

.thought-card.editing .confirm-edit {
    display: flex;
}

#thought-timeline {
    position: absolute;
    inset: 0;
    transform: translateX(100%);
    display: grid;
    grid-template-rows: auto 1fr;
    background-color: var(--clr-neutral-2);
    padding: var(--pad-base);
    border-radius: var(--brd-r-lg);
    z-index: 1;
    transition: transform var(--trans-default);
}

.thought-timeline-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#thought-window.show-timeline #thought-timeline {
    transform: translateX(0%);
}

.thought-id {
    display: none;
}

#new-thought {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    padding: var(--pad-sm);
    border-radius: var(--brd-r-2xl);
    border: var(--brd-sm);
    box-shadow: var(--shadow-md);
    border-color: var(--clr-neutral-2);
    z-index: 50;
    position: relative;
    gap: var(--sp-lg);
}

#thought-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#thought-form-container textarea {
    flex: 1;
    height: 100%;
    background-color: var(--clr-neutral-1);
    border-radius: var(--brd-r-lg);
    border: var(--brd-sm);
    border-color: var(--clr-transparent);
    padding: var(--input-padding);
    outline: none;
}

#thought-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

#identity-controls {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-neutral-2);
    padding: var(--pad-xs);
    border-radius: var(--brd-r-full);
}

#all-identities-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-rows: 0fr;
    transition: grid var(--trans-default);
    overflow: hidden;
    transform: translateY(calc(-100% - var(--sp-sm)));
    pointer-events: none;
}

#identity-controls.shown #all-identities-wrapper {
    pointer-events: all;
    width: max-content;
    grid-template-rows: 1fr;
}

#identity-controls.shown #all-identities {
    padding: var(--pad-sm);
}

#all-identities .identity-card {
    background-color: var(--clr-neutral-3);
}

#all-identities .identity-card:hover {
    background-color: var(--clr-info-1-40);
    cursor: pointer;
}

#all-identities {
    overflow: hidden;
    display: grid;
    background-color: var(--clr-neutral-2);
    border-radius: var(--brd-r-lg);
    padding: 0;
    gap: var(--sp-base);
    overflow-y: auto;
    scrollbar-width: thin;
    max-height: 400px;
}

.identity-card {
    display: flex;
    align-items: center;
    gap: var(--sp-base);
    padding: var(--pad-sm);
    border-radius: var(--brd-r-full);
}

.identity-img {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: calc(24px + calc(0.5rem * 2));
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: var(--brd-r-full);
}

.identity-name {
    font-size: var(--fs-base);
}

@media (min-width: 1024px) {

    .identity-img {
        flex-basis: calc(24px + calc(0.25rem * 2));
    }

    .identity-name {
        font-size: var(--fs-sm);
    }

    #thought-window {
        grid-template-columns: 1fr 20dvw;
    }

    #thought-timeline {
        position: static;
        transform: translateX(0%);
    }
}