{% macro generic_input(type="text", placeholder="Click To Type", class="form-input", id="email", label="Email", icon=None, attrs={}) %}
<div class="{{ class }}" id="email-wrapper">
    <label for="{{ id }}">{{ label }}</label>
    <input name="{{ id }}" id="{{ id }}" placeholder="{{ placeholder }}" type="{{ type }}"
    {% if attrs %}
        {% for key, val in attrs.items() %}
            {{ key }}="{{ val }}"
        {% endfor %}
    {% endif %}
    >
    {% if icon %} <span class="input-icon">{{ icon }}</span>{% endif %}
</div>
{% endmacro %}