/* Reset */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
    padding: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
    10. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

:root {
    /* Multipliers */
    --mul-xs: 0.4;
    --mul-sm: 0.8;
    --mul-md: 1.2;
    --mul-lg: 1.6;
    --mul-xl: 2;
    --mul-2xl: 2.4;
    --mul-3xl: 2.8;

    --bp-sm: 425px;
    --bp-md: 1024px;
    --bp-lg: 1600px;
}

/* Clamp every snapshot layer */
::view-transition,
::view-transition-group(root),
::view-transition-image-pair(root),
::view-transition-old(root),
::view-transition-new(root) {
    overflow: hidden;
    inset: 0;
    max-width: 100%;
    max-height: 100%;
}

html,
body,
main {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: clip;
}

@view-transition {
    navigation: auto;
}