{% extends 'pages/main/base.html' %} 

{% block pg_title %}Projects{% endblock %}

{% block substyles %}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='pages/main/styles/projects.css') }}"
/>
{% endblock %} 

{% block subscripts %}
<script
    src="{{ url_for('static', filename='pages/main/scripts/projects.js') }}"
    defer
    type="module"
></script>
{% endblock %} 

{% block page_subheader %}Projects{% endblock %} 

{% block
page_controls %}
<div id="page-controls">
    {% from 'components/_buttons.html' import button %} 
    {{
    button(class="btn--icon-only", icon_name="face", variant="ghost",
    id="select-identity-btn", aria_label="Select identity") }} 
    
    {% from 'components/_buttons.html' import button %} 
    {{ button(class="btn--icon-only", icon_name="add_circle",
    variant="ghost", id="create-project-btn", aria_label="Create new project") }}
</div>
{% endblock %} 

{% block page_content %} 
{% from 'components/_buttons.html' import button %}
<div id="project-window">
    <aside id="create-project" class="sidebar" role="form" aria-labelledby="create-project-heading">
        <div id="create-project-wrapper" class="sidebar-wrapper">
            <div id="create-project-header" class="sidebar-header">
                <h3 id="create-project-heading">Create</h3>
                {{ button(variant="ghost", class="btn--icon-only",
                id="submit-create-project", icon_name="add_task", aria_label="Submit new project") }} {{
                button(variant="ghost", class="btn--icon-only", id="reset-form",
                icon_name="autorenew", aria_label="Reset form") }} {{ button(icon_name="cancel",
                class="btn--cancel btn--icon-only", id="cancel-creation-btn", aria_label="Close create project sidebar") }}
            </div>
            <div class="project-identity">
                <p class="form-label">Identity</p>
                <div id="active-identity" class="identity-card">
                    <div class="identity-img">
                        <img
                            src="{{ url_for('static', filename='assets/avatars/' ~ active_identity.template.image) }}"
                            alt="{{ active_identity.custom_name if active_identity.custom_name else active_identity.template.name }} Avatar"
                        />
                    </div>
                    <span class="identity-name">
                        {{ active_identity.custom_name if
                        active_identity.custom_name else
                        active_identity.tempate.name }}
                    </span>
                </div>
            </div>
            <form
                action="{{ url_for('app.projects') }}"
                id="create-project-form"
                method="post"
                novalidate
                class="form-container"
            >
                {{ create_project_form.hidden_tag() }}
                <div class=".form-input-group">
                    {{
                    create_project_form.project_name.label(class="form-label")
                    }} {{ create_project_form.project_name(class="form-input")
                    }} {% if create_project_form.project_name.errors %} {% for
                    error in create_project_form.project_name.errors %}
                    <span class="error-msg" role="alert">{{ error }}</span>
                    {% endfor %} {% endif %}
                </div>
                <div class=".form-input-group">
                    {{
                    create_project_form.project_description.label(class="form-label")
                    }} {{
                    create_project_form.project_description(class="form-input")
                    }} {% if create_project_form.project_description.errors %}
                    {% for error in
                    create_project_form.project_description.errors %}
                    <span class="error-msg" role="alert">{{ error }}</span>
                    {% endfor %} {% endif %}
                </div>
                <div class=".form-input-group">
                    {{
                    create_project_form.project_start_date.label(class="form-label")
                    }} {{
                    create_project_form.project_start_date(class="form-input")
                    }} {% if create_project_form.project_start_date.errors %} {%
                    for error in create_project_form.project_start_date.errors
                    %}
                    <span class="error-msg" role="alert">{{ error }}</span>
                    {% endfor %} {% endif %}
                </div>
                <div class=".form-input-group">
                    {{
                    create_project_form.project_end_date.label(class="form-label")
                    }} {{
                    create_project_form.project_end_date(class="form-input") }}
                    {% if create_project_form.project_end_date.errors %} {% for
                    error in create_project_form.project_end_date.errors %}
                    <span class="error-msg" role="alert">{{ error }}</span>
                    {% endfor %} {% endif %}
                </div>
                <fieldset class=".form-input-group">
                    <legend class="form-label">
                        {{ create_project_form.project_status.label.text }}
                    </legend>
                    <ul class="status-options">
                        {% for status in create_project_form.project_status %}
                        <li class="status-option">
                            {{ status(class="visually-hidden status-input") }}
                            <label class="status-label" for="{{ status.id }}">
                                {{ status.label.text }}
                            </label>
                        </li>
                        {% endfor %}
                    </ul>
                    {% if create_project_form.project_end_date.errors %} {% for
                    error in create_project_form.project_end_date.errors %}
                    <span class="error-msg" role="alert">{{ error }}</span>
                    {% endfor %} {% endif %}
                </fieldset>
                {{ create_project_form.submit_project(class="visually-hidden",
                id="submit-new-project") }} {{ button(type="reset",
                class="visually-hidden", id="reset-form-data") }}
            </form>
        </div>
    </aside>
    <aside id="select-identity" class="sidebar" role="complementary" aria-labelledby="select-identity-heading">
        <div id="select-identity-wrapper" class="sidebar-wrapper">
            <div id="select-identity-header" class="sidebar-header">
                <h3 id="select-identity-heading">Identity</h3>
                {{ button(icon_name="cancel", class="btn--cancel
                btn--icon-only", id="cancel-select-identity-btn", aria_label="Close select identity sidebar") }}
            </div>
            <div id="selected-identity">
                <div id="curr">
                    <p class="form-label">Current</p>
                    <div class="identity-card">
                        <div class="identity-img">
                            <img
                                src="{{ url_for('static', filename='assets/avatars/' ~ active_identity.template.image) }}"
                                alt="{{ active_identity.custom_name if active_identity.custom_name else active_identity.template.name }} Avatar"
                            />
                        </div>
                        <span class="identity-name">
                            {{ active_identity.custom_name if
                            active_identity.custom_name else
                            active_identity.tempate.name }}
                        </span>
                    </div>
                </div>
                <div id="new">
                    <p class="form-label">Available</p>
                    <form id="all-identities-wrapper" method="post">
                        {{ switch_identity_form.hidden_tag() }}
                        <ul id="all-identities">
                            {% for identity_input, identity_data in
                            switch_identity_form.select_identity |
                            zip(all_identities) %}
                            <li>
                                {{ identity_input(class="visually-hidden
                                select-identity-input") }}
                                <label
                                    for="{{ identity_input.id }}"
                                    class="identity-card select-identity"
                                >
                                    <div class="identity-img">
                                        <img
                                            src="{{ url_for('static', filename='assets/avatars/' ~ identity_data.template.image) }}"
                                            alt="{{ identity_data.custom_name if identity_data.custom_name else identity_data.template.name }} Avatar"
                                        />
                                    </div>
                                    <span class="identity-name">
                                        {{ identity_data.custom_name if
                                        identity_data.custom_name else
                                        identity_data.template.name }}
                                    </span>
                                    {% from 'components/_icons.html' import
                                    generic %} {% if identity_data.is_active %}
                                    {{ generic(icon="check_circle") }} {% endif
                                    %}
                                </label>
                            </li>
                            {% endfor %}
                        </ul>
                        {{
                        switch_identity_form.submit_identity(class="visually-hidden",
                        id="switch-identity") }}
                    </form>
                </div>
            </div>
        </div>
    </aside>
    <section id="project-timeline" aria-labelledby="project-timeline-heading">
        <div id="timeline-controls">
            <h2 class="project-viewport-header" id="project-timeline-heading">Sort By</h2>
            <div class="status-controls">
                {{ button(text="All", href=url_for('app.projects'), variant="ghost", class="active" if not filter_keyword else "") }} {{ button(text="Not Started",
                href=url_for('app.projects', filter_key="not_started", class="active" if filter_keyword == "not_started" else ""),
                variant="ghost") }} {{ button(text="In Progress",
                href=url_for('app.projects', filter_key="in_progress", class="active" if filter_keyword == "in_progress" else ""),
                variant="ghost") }} {{ button(text="Completed",
                href=url_for('app.projects', filter_key="completed", class="active" if filter_keyword == "completed" else ""),
                variant="ghost") }}
            </div>
        </div>
        <div id="project-viewport">
            <ul class="projects-list {% if not projects %}empty{% endif %}">
                {% for project in projects %}
                <article class="project-card {{ project.status.value }}" data-project-id="{{ project.id }}">
                    <div class="project-card-content project-name-container">
                        <p class="project-name view-project-data">{{ project.name }}</p>
                        <input type="text" class="form-input edit-project-input project-name edit-project-name" value="{{ project.name }}">
                    </div>
                    {% if project.description != "" %}
                    <div
                        class="project-card-content project-description-container"
                    >
                        <p class="project-description view-project-data">
                            {{ project.description }}
                        </p>
                        <textarea type="text" class="form-input edit-project-input description edit-project-description" value="{{ project.description }}">{{ project.description }}</textarea>
                    </div>
                    {% endif %}
                    <div class="project-card-content project-dates-container">
                        <div class="date-data">
                            <span class="start-date view-project-data"
                                >{{ project.start_date.strftime('%a %-b %d') }}</span
                            >
                            <input type="date" class="form-input start-date edit-project-start-date edit-project-input" value="{{ project.start_date }}">
                            <span class="end-date view-project-data"
                                >{{ project.end_date.strftime('%a %-b %d') }}</span
                            >
                            <input type="date" class="form-input end-date edit-project-end-date edit-project-input" value="{{ project.end_date }}">
                        </div>
                        <div 
                            class="progress-bar" 
                            data-time-left="{{ project.time_elapsed_percentage }}"
                            role="progressbar"
                            aria-valuenow="{{ project.time_elapsed_percentage }}"
                            aria-valuemin="0"
                            aria-valuemax="100"
                            aria-labelledby="time-left-{{ project.id }}"
                        >
                            <span class="days-left" id="time-left-{{ project.id }}">{{ project.time_left }} Days Left</span>
                            <div class="progress-track">
                                <div class="progress" style="width: {{ project.time_elapsed_percentage }}%"></div>
                            </div>
                        </div>
                    </div>
                    {% if project.total_tasks > 0 %}
                    <div
                        class="project-card-content project-tasks-left-container"
                    >
                        <div 
                            class="progress-bar"
                            role="progressbar"
                            aria-valuenow="{{ project.tasks_completed_percentage }}"
                            aria-valuemin="0"
                            aria-valuemax="100"
                            aria-labelledby="tasks-left-{{ project.id }}"
                        >
                            <span class="tasks-left" id="tasks-left-{{ project.id }}">{{ project.tasks_incomplete }} / {{ project.total_tasks }} Tasks Left</span>
                            <div class="progress-track">
                                <div class="progress" style="width: {{ project.tasks_completed_percentage }}%"></div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <div class="project-controls-container">
                        {{ button(class="btn--icon-only edit-project view-project-data", icon_name="edit", variant="ghost", aria_label="Edit project") }}
                        {{ button(class="btn--icon-only confirm-edit edit-project-input", icon_name="check_circle", variant="ghost", aria_label="Confirm edit") }}
                        {{ button(class="btn--icon-only delete-project not-deleting", icon_name="delete", variant="ghost", aria_label="Delete project") }}
                        {{ button(class="btn--icon-only confirm-delete-project delete-project-data", icon_name="delete", variant="ghost", aria_label="Confirm delete") }}
                        {{ button(class="btn--icon-only cancel-delete-project delete-project-data", icon_name="cancel", variant="ghost", aria_label="Cancel delete") }}
                    </div>
                </article>
                {% else %}
                <div class="empty-project-container">
                    <h3>No Projects. Working on Something?</h3>
                </div>
                {% endfor %}
            </ul>
        </div>
    </section>
</div>
{% endblock %} {% block page_id %}projects{% endblock %}
