{% extends 'pages/settings/base.html' %}

{% block pg_title %}Account Settings{% endblock %}

{% block substyles %}
<link rel="stylesheet" href="{{ url_for('static', filename='pages/settings/styles/account.css') }}">
{% endblock %}

{% block subscripts %}
<script src="{{ url_for('static', filename='pages/settings/scripts/account.js') }}" type="module"></script>
{% endblock %}

{% block page_subheader %}Account{% endblock %}

{% block content %}
    {% from 'components/_buttons.html' import button %}
    <section class="form-wrapper" id="update-email" aria-labelledby="update-email-heading">
        <div class="form-header-container">
            <h2 class="form-header" id="update-email-heading">Update Email</h2>
            {{ button(class="btn--icon-only", variant="ghost", icon_name="arrow_drop_down", id="toggle-update-email", aria_label="Toggle update email form") }}
        </div>
        <div class="form-controller">
            <form action="{{ url_for('settings.account') }}" class="form-container" method="POST" novalidate>
                {{ email_form.hidden_tag() }}
                <div class="form-input-group">
                    {{ email_form.email.label(class="form-label") }}
                    {{ email_form.email(class="form-input") }}
                    {% if email_form.email.errors %}
                        {% for error in email_form.email.errors %}
                            <span class="error-msg" role="alert">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-input-group">
                    {{ email_form.current_password_for_email.label(class="form-label") }}
                    {{ email_form.current_password_for_email(class="form-input") }}
                    {% if email_form.current_password_for_email.errors %}
                        {% for error in email_form.current_password_for_email.errors %}
                            <span class="error-msg" role="alert">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
                {{ email_form.submit_email_change(class="btn btn--primary") }}
            </form>
        </div>
    </section>
    
    <section class="form-wrapper" id="update-password" aria-labelledby="update-password-heading">
        <div class="form-header-container">
            <h2 class="form-header" id="update-password-heading">Update Password</h2>
            {{ button(class="btn--icon-only", variant="ghost", icon_name="arrow_drop_down", id="toggle-update-password", aria_label="Toggle update password form") }}
        </div>
        <div class="form-controller">
            <form action="{{ url_for('settings.account') }}" class="form-container" method="POST" novalidate>
                {{ update_password_form.hidden_tag() }}
                <div class="form-input-group">
                    {{ update_password_form.current_password.label(class="form-label") }}
                    {{ update_password_form.current_password(class="form-input") }}
                    {% if update_password_form.current_password.errors %}
                        {% for error in update_password_form.current_password.errors %}
                            <span class="error-msg" role="alert">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-input-group">
                    {{ update_password_form.new_password.label(class="form-label") }}
                    {{ update_password_form.new_password(class="form-input") }}
                    {% if update_password_form.new_password.errors %}
                        {% for error in update_password_form.new_password.errors %}
                            <span class="error-msg" role="alert">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-input-group">
                    {{ update_password_form.confirm_password.label(class="form-label") }}
                    {{ update_password_form.confirm_password(class="form-input") }}
                    {% if update_password_form.confirm_password.errors %}
                        {% for error in update_password_form.confirm_password.errors %}
                            <span class="error-msg" role="alert">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
                {{ update_password_form.submit_password_change(class="btn btn--primary") }}
            </form>
        </div>
    </section>

    <section class="form-wrapper" id="delete-account" aria-labelledby="delete-account-heading">
        <div class="form-header-container">
            <h2 class="form-header" id="delete-account-heading">Delete Account</h2>
            {{ button(class="btn--icon-only", variant="ghost", icon_name="arrow_drop_down", id="toggle-delete-account", aria_label="Toggle delete account form") }}
        </div>
        <div class="form-controller">
                <form action="{{ url_for('settings.account') }}" class="form-container" method="POST" novalidate>
                    {{ delete_account_form.hidden_tag() }}
                    <div class="form-input-group">
                        {{ delete_account_form.deletion_confirmation_message.label(class="form-label") }}
                        {{ delete_account_form.deletion_confirmation_message(class="form-input") }}
                        {% if delete_account_form.deletion_confirmation_message.errors %}
                            {% for error in delete_account_form.deletion_confirmation_message.errors %}
                                <span class="error-msg" role="alert">{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="form-input-group">
                        {{ delete_account_form.password_for_confirmation_deletion.label(class="form-label") }}
                        {{ delete_account_form.password_for_confirmation_deletion(class="form-input") }}
                        {% if delete_account_form.password_for_confirmation_deletion.errors %}
                            {% for error in delete_account_form.password_for_confirmation_deletion.errors %}
                                <span class="error-msg" role="alert">{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                    {{ delete_account_form.submit_deletion_request(class="btn btn--primary") }}
            </form>
        </div>
    </section>
{% endblock %}