{% extends "base.html" %} 

{% block pg_title %}{% block page_header %}Settings{% endblock %}{% endblock %}

{% block scripts %} 
<script src="{{ url_for('static', filename='pages/settings/scripts/base.js') }}" type="module" defer></script>
{% block subscripts %}{% endblock %} 
{% endblock %} 

{% block styles %}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='pages/settings/styles/base.css') }}"
/>
{% block substyles %}{% endblock %} 
{% endblock %} 

{% block body %} 
{% from 'components/_buttons.html' import button %}

<main class="main-grid" id="settings">
    {% with messages = get_flashed_messages(with_categories=true) %} 
    {% if messages %}
        <div class="flash-messages" role="region" aria-label="Notifications">
            {% for category, message in messages %} 
            {% from 'components/_flash.html' import flash_message %} 
            {{ flash_message(msg=message, category=category) }} 
            {% endfor %}
        </div>
    {% endif %} 
    {% endwith %}
    <nav class="grid-col" id="settings-index" aria-label="Settings navigation">
        <header id="settings-header">
            <div class="header-container">
                {{ button(variant="ghost", icon_name="cancel",
                class='btn--cancel btn--icon-only mobile-only', id='close-nav', aria_label="Close settings navigation")
                }}
            </div>
        </header>
        <nav id="settings-nav">
            <ul class="nav-list">
                <li>
                    {{ button(text="Personal", variant="nav",
                    icon_name="user_attributes", href=
                    url_for('settings.personal'), class=('active' if pg_name ==
                    'personal_settings' else '')) }}
                </li>
                <li>
                    {{ button(text="Account", variant="nav",
                    icon_name="account_circle", href=
                    url_for('settings.account'), class=('active' if pg_name ==
                    'account_settings' else '')) }}
                </li>
                <li>
                    {{ button(text="Appearance", variant="nav",
                    icon_name="colors", href= url_for('settings.appearance'),
                    class=('active' if pg_name == 'appearance_settings' else
                    '')) }}
                </li>
                <li>
                    {{ button(text="Identities", variant="nav",
                    icon_name="face", href= url_for('settings.identities'),
                    class=('active' if pg_name == 'identities_settings' else
                    '')) }}
                </li>
                <li>
                    {{ button(text="Return", variant="nav",
                    icon_name="arrow_left", href=url_for('app.home')) }}
                </li>
            </ul>
        </nav>
    </nav>
    <div class="tablet-only"></div>

    <section class="grid-col" id="content-container" aria-labelledby="settings-content-heading">
        <div class="page-header">

            {{ button(variant="ghost", icon_name="menu", class='btn--icon-only
            mobile-only', id='open-nav', aria_label="Open settings navigation") }}
            <h1 id="settings-content-heading">{% block page_subheader %}{% endblock %}</h1>
        </div>
        <div id="forms">{% block content %}{% endblock %}</div>
    </section>
</main>
{% endblock %}