{% extends 'pages/core/base.html' %}

{% block substyles %}
<link rel="stylesheet" href="{{ url_for('static', filename='pages/core/styles/settings.css') }}">
{% endblock %}

{% block subscripts %}
<link rel="stylesheet" href="{{ url_for('static', filename='pages/core/scripts/settings.js') }}">
{% endblock %}

{% block content %}
    {% from 'components/_buttons.html' import button %}
    <h2 id="page_title">Settings</h2>
    <article id="profile-settings" class="settings-section">
        <div class="section-title">
            <h3>Profile</h3>
            {{ button(text="", variant="ghost", icon_name="arrow_drop_down", class="btn--icon-only") }}
        </div>
        <nav class="settings-nav" id="profile-settings-nav">
            <ul class="settings-nav-list">
                <li>
                    <p class="settings-nav-text">Personal Information</p>
                    {{ button(text="", variant="ghost", icon_name="arrow_right", class="btn--icon-only") }}
                </li>
                <li>
                    <p class="settings-nav-text">Account Details</p>
                    {{ button(text="", variant="ghost", icon_name="arrow_right", class="btn--icon-only") }}
                </li>
                <li>
                    <p class="settings-nav-text">Account Controls</p>
                    {{ button(text="", variant="ghost", icon_name="arrow_right", class="btn--icon-only") }}
                </li>
            </ul>
        </nav>
    </article>

    <article id="identity-settings" class="settings-section">
        <h3 class="section-title">Identities</h3>
    </article>
    <article id="theme-settings" class="settings-section">
        <h3 class="section-title">Theme</h3>
    </article>
{% endblock %}